.emp-sign-con{
  width:100%;
  padding-top: 55px;
}
.emp-sign-center{
  width:70%;
  margin: 0 auto;
  margin-top:45px;
}
.emp-sign-txt{
  font-size: 20px;
  font-weight: 500;
}
.emp-txt-center{
  margin-top:15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-field-con{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-field-align{
  width: 100%;
}
.btn-con{
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .emp-sign-txt{
    text-align: center;
    font-size: 28px;
  }
  .text-field-con{
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .emp-sign-center{
    width: 45%;
  }
}
