<app-we-top></app-we-top>
<div class="emp-sign-con">
  <div class="emp-sign-center">
    <div class="emp-sign-txt">Sign up</div>
    <div class="emp-txt-center">
      <div class="text-field-align">
        <app-we-textfield name="Company Name"></app-we-textfield>
      </div>
      <div class="text-field-align">
        <app-we-textfield name="GST or Pan Number"></app-we-textfield>
      </div>
      <div class="text-field-align">
        <app-we-textfield name="Industry type"></app-we-textfield>
      </div>
      <div class="text-field-align">
        <app-we-dropdown value="ISO Register"></app-we-dropdown>
      </div>
      <div class="text-field-align">
        <app-we-textfield name="Email ID"></app-we-textfield>
      </div>
      <div class="text-field-align">
        <app-we-textfield name="Telephone No"></app-we-textfield>
      </div>
      <app-we-textarea value="Registered Address"></app-we-textarea>
      <app-we-textarea value="Unit Address"></app-we-textarea>
      <app-we-textarea value="Company Breif"></app-we-textarea>
      <a class="emp-sign-sum-btn" href="" style="text-decoration: none;">
        Sumbit
      </a>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
