.body-container{
  width: 100%;
}
.profile-img-con{
  height: 100svh;
  width: 100%;
  margin-top: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile{
  height: 90svh;
  width: 100%;
  position: relative;
  margin-top: 6rem;
}
.profile-container{
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(60svh);
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
}
.profile-name{
  font-size: var(--headingtwo);
  color: var(--headingcolor)
}
.profile-role{
  font-size: var(--headingthree);
}
.profile-inner-con{
  position: relative;
}
.swipe-up-container{
  margin-top: 1rem;
  display: none;
}
.swipe-up{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.close-btn-con{
  position: absolute;
  top: 0;
  right: 0;
}
.close-btn{
  font-size: 30px;
  color: var(--headingcolor);
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 5.154px 0px rgba(0, 0, 0, 0.11);
}
.edit-btn-con{
  margin-top: 5px;
}
.edit-btn{
  font-size: var(--subtext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 8px 17px;
  border: none;
  border-radius: 40px;
}
.profile-details-container{
  margin-top: 2rem;
  height: 70svh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  padding-bottom: 2rem;
}
.profile-details-container::-webkit-scrollbar{
  display: none;
}
.text-field-con{
  margin-top: 1rem;
}
.top-name{
  font-size: var(--subtext);
}
.input-text{
  font-size: var(--inputtext);
  height: 40px;
  width: 100%;
  border: 0.8px solid #505050;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 5px;
  padding-left: 10px;
}
.input-text:focus{
  outline: 0.3px solid #000;
}
.file-upload-con{
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
input[type=file]::file-selector-button{
  display: none;
}
.update-btn{
  font-size: var(--subtext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 8px 17px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: 170px;
  gap: 5px;
}
#file{
  width: 140px;
}
.btn-con{
  margin-top: 2rem;
  text-align: center;
}
.save-btn{
  font-size: var(--subtext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 8px 17px;
  border: none;
  border-radius: 40px;
}
