.text-area-con{
  width:100%;
}
.top-name{
  color: #424242;
  font-size: var(--subtext);
  font-style: normal;
  display: inline-block;
}
.text-area{
  width:100%;
  margin-top:5px;
  resize: none;
  font-size: var(--inputtext);
  border-radius: 9px;
  color: var(--headingcolor);
  padding-top: 5px;
  padding-left: 10px;
}

