.body-container{
  width: 100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.tat-container{
  width: 100%;
  margin-top: 20px;
}
.text-container{
  width: 300px
}
.content-text{
  font-size: var(--headingtwo);
  color: var(--headingcolor)
}
.flex-analytics{
  width: 100%;
  padding: 10px;
  background-color: #ECECEC;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.analytics-table-one{
  width: 100%;
  padding: 15px;
  background-color: white;
}
.sub-text{
  font-size: var(--subtext);
}
.sub-heading{
  font-size: var(--headingthree);
  color: #5FC83B;
  margin-left: 20px
}
.total-percentage-con{
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.total-percentage{
  font-size: var(--headingtwo);
}
.increase-icon{
  width: 14px;
  height: 14px;
}
.analytics-table-two{
  width: 100%;
  padding: 15px;
  background-color: white;
  margin-top: 10px;
}
.impression-count-con{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.impression-count{
  font-size: 48px;
}
.analytics-table-three{
  width: 100%;
  padding: 15px;
  background-color: white;
  margin-top: 10px;
}
.click-count-con{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.analytics-table-four{
  width: 100%;
  padding: 15px;
  background-color: white;
  margin-top: 10px;
}
.engagement-rate{
  font-size: 21px;
}
.engagement-count-con{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.engagement-count{
  font-size: 48px;
}
.graph-container{
  width: 100%;
  height: 245px;
  padding: 15px;
  background-color: #ECECEC;
  margin-top: 20px;
}
.graph{
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 10px;
}
.graph-heading{
  font-size: 16px;
  color: #505050;
}
@media only screen and (min-width:600px) {
  .flex-analytics{
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .analytics-table-one{
    width: 23%;
    padding:10px;
  }
  .total-update{
    font-size: 13px;
  }
  .total-percentage{
    font-size: 25px;
  }
  .child-percentage{
    font-size: 14px;
  }
  .time-period{
    font-size: 11px;
  }
  .analytics-table-two{
    width: 23%;
    padding: 10px;
    margin-top: 0;
    margin-left: 10px;
  }
  .impression{
    font-size: 13px;
  }
  .impression-count{
    font-size: 25px;
  }
  .analytics-table-three{
    width: 23%;
    padding: 10px;
    margin-top: 0;
    margin-left: 10px;
  }
  .click{
    font-size: 13px;
  }
  .click-count{
    font-size: 25px;
  }
  .analytics-table-four{
    width: 23%;
    padding: 10px;
    margin-top: 0;
    margin-left: 10px;
  }
  .engagement-rate{
    font-size: 13px;
  }
  .engagement-count{
    font-size: 25px;
  }
  .footer-container{
    display: inline-block;
  }
  .footer-con{
    height: 240px;
  }
  .table{
    width:27%;
    padding-top: 0px;
    display: block;
    height: 100px;
    float: left;
  }
  .hd-txt{
    font-size: 13px;
  }
  .tag-type{
    font-size: 13px;
  }
  .tag-typex{
    font-size: 13px;
  }
  .tag-typey{
    font-size: 13px;
  }
  .tablex{
    width: 20%;
    display: block;
    float: left;
    height: 100px;
    padding-top: 10px;
  }
  .tabley{
    width:32%;
    display: block;
    float: left;
    height: 140px;
  }
  .tablez{
    width:21%;
    display: block;
    float: left;
  }
}
@media only screen and (min-width:1024px) {
  .body-center{
    width: 60%;
  }
  .head-top {
    height: 55px;
  }
  .header-con {
    padding-top: 0.5%;
    padding-left: 15%;
  }
  .tat-container{
    margin-top: 0;
  }
  .profile-con{
    padding-right: 16%;
  }
  .head-text {
    font-size: 35px;
  }
  .emp-analytics-center{
    width: 70%;
  }
  .text-container{
    width: 400px;
  }
  .analytics-table-one{
    padding: 15px;
  }
  .analytics-table-two{
    padding: 15px;
  }
  .analytics-table-three{
    padding: 15px;
  }
  .analytics-table-four{
    padding: 15px;
  }
}
