<div class="body-container">
  <div class="body-center">
    <app-we-back-button></app-we-back-button>
    <div class="nav">
      <app-we-navbar></app-we-navbar>
    </div>
    <div class="tat-container">
      <div class="text-container">
        <div class="content-text">
          Access all the available analytics related to your job postings
        </div>
      </div>
      <div class="flex-analytics">
        <div class="analytics-table-one">
          <div class="sub-text">Total Updates</div>
          <div class="total-percentage-con">
            <div class="total-percentage">24</div>
            <div class="sub-heading">
              6%
              <svg xmlns="http://www.w3.org/2000/svg" class="increase-icon" width="17" height="13" viewBox="0 0 17 13" fill="none">
                <path d="M2.64723 12.6583L8.86811 5.25722L15.089 12.6583L17 10.3798L8.86811 0.684082L0.736237 10.3798L2.64723 12.6583Z" fill="#5FC83B"/>
              </svg>
            </div>
          </div>
          <div class="sub-text">in the last 5 days</div>
        </div>
        <div class="analytics-table-two">
          <div class="sub-text">Impressions</div>
          <div class="impression-count-con">
            <div class="total-percentage">756</div>
            <div class="sub-heading">
              6%
              <svg xmlns="http://www.w3.org/2000/svg" class="increase-icon" width="17" height="13" viewBox="0 0 17 13" fill="none">
                <path d="M2.64723 12.6583L8.86811 5.25722L15.089 12.6583L17 10.3798L8.86811 0.684082L0.736237 10.3798L2.64723 12.6583Z" fill="#5FC83B"/>
              </svg>
            </div>
          </div>
          <div class="sub-text">in the last 5 days</div>
        </div>
        <div class="analytics-table-three">
          <div class="sub-text">Clicks</div>
          <div class="click-count-con">
            <div class="total-percentage">150</div>
            <div class="sub-heading">
              30%
              <svg xmlns="http://www.w3.org/2000/svg" class="increase-icon" width="17" height="13" viewBox="0 0 17 13" fill="none">
                <path d="M1.91099 12.6583L8.13187 5.25722L14.3528 12.6583L16.2637 10.3798L8.13187 0.684082L0 10.3798L1.91099 12.6583Z" fill="#5FC83B"/>
              </svg>
            </div>
          </div>
          <div class="sub-text">in the last 5 days</div>
        </div>
        <div class="analytics-table-four">
          <div class="sub-text">Engagement Rate</div>
          <div class="engagement-count-con">
            <div class="total-percentage">68%</div>
            <div class="sub-heading">
              30%
              <svg xmlns="http://www.w3.org/2000/svg" class="increase-icon" width="17" height="13" viewBox="0 0 17 13" fill="none">
                <path d="M1.91099 12.6583L8.13187 5.25722L14.3528 12.6583L16.2637 10.3798L8.13187 0.684082L0 10.3798L1.91099 12.6583Z" fill="#5FC83B"/>
              </svg>
            </div>
          </div>
          <div class="sub-text">in the last 5 days</div>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph">
          <div class="sub-text">Impressions</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
