<div class="body-container">
    <div class="body-center">
        <app-we-back-button></app-we-back-button>
        <div class="nav">
            <app-we-navbar></app-we-navbar>
        </div>
        <div class="profile-details">
            <div class="profile-img">
                <img src="/assets/img/emp%20dp%20pic.png" alt="">
            </div>
            <div class="profile-name" (click)="editCompanyName()">
                <input type="text" class="edit-name" [formControl]="profileForm.get('company_name')" (blur)="doEdit()">
            </div>
        </div>
        <div class="profile-container">
            <form [formGroup]="profileForm">
                <div class="input-center">
                    <div class="text-field-con">
                        <div class="text-field">
                            <label class="top-name">Pan number</label>
                            <input type="text" class="input-text" maxlength="10" [formControl]="profileForm.get('pan_number')" (blur)="doEdit()">
                            <p class="info-text" *ngIf="profileForm.get('pan_number')?.hasError('required') && profileForm.get('pan_number')?.touched">This field is required</p>
                        </div>
                    </div>
                    <div class="text-field-con">
                        <div class="text-field">
                            <label class="top-name">Industry type</label>
                            <select class="input-text" [formControl]="profileForm.get('industry_type')" (blur)="doEdit()">
                                <option value="IT">IT</option>
                                <option value="Medical">Medical</option>
                                <option value="Accountancy">Accountancy</option>
                            </select>
                            <p class="info-text" *ngIf="profileForm.get('industry_type')?.hasError('required') && profileForm.get('industry_type')?.touched">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="input-center">
                    <div class="text-field-con">
                        <div class="text-field">
                            <label class="top-name">Email id</label>
                            <input type="text" class="input-text" [formControl]="profileForm.get('email_id')" (blur)="doEdit()">
                            <p class="info-text" *ngIf="profileForm.get('email_id')?.hasError('required') && profileForm.get('email_id')?.touched">This field is required</p>
                        </div>
                    </div>
                    <div class="text-field-con">
                        <div class="text-field">
                            <label class="top-name">Telephone number</label>
                            <input type="text" class="input-text" maxlength="10" (keypress)="allowOnlyNumbers($event)" [formControl]="profileForm.get('telephone_no')" (blur)="doEdit()">
                            <p class="info-text" *ngIf="profileForm.get('telephone_no')?.hasError('required') && profileForm.get('telephone_no')?.touched">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="input-center">
                    <div class="text-field-con">
                        <div class="text-field">
                            <label class="top-name">No of employees</label>
                            <select class="input-text" [formControl]="profileForm.get('no_of_employees')" (blur)="doEdit()">
                                <option value="1-10">1-10</option>
                                <option value="11-20">11-20</option>
                                <option value="21-30">21-30</option>
                                <option value="31-40">31-40</option>
                            </select>
                            <p class="info-text" *ngIf="profileForm.get('no_of_employees')?.hasError('required') && profileForm.get('no_of_employees')?.touched">This field is required</p>
                        </div>
                    </div>
                    <div class="text-field-con">
                        
                    </div>
                </div>
                <div class="text-area">
                    <label class="top-name">Address</label>
                    <textarea rows="10" cols="10" class="input-textarea" [formControl]="profileForm.get('address')" (blur)="doEdit()"></textarea>
                    <p class="info-text" *ngIf="profileForm.get('address')?.hasError('required') && profileForm.get('address')?.touched">This field is required</p>
                </div>
                <div class="text-area">
                    <label class="top-name">Awards and achievements</label>
                    <textarea rows="10" cols="10" class="input-textarea" [formControl]="profileForm.get('awards_and_achievements')" (blur)="doEdit()"></textarea>
                    <p class="info-text" *ngIf="profileForm.get('awards_and_achievements')?.hasError('required') && profileForm.get('awards_and_achievements')?.touched">This field is required</p>
                </div>
            </form>
            <div class="btn" *ngIf="saveBtn">
                <button (click)="doEdit()">Save</button>
            </div>
        </div>
    </div>
</div>

<app-toaster #toaster></app-toaster>