<div class="body-container">
  <div class="body-center">
    <div class="heading-con">
      <h1>Millions of opportunity</h1>
    </div>
    <div class="top-container">
      <div class="search-container">
        <input class="input-search" type="text" placeholder="Search">
        <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="22" height="22" viewBox="0 0 20 19" fill="none">
          <g clip-path="url(#clip0_54_21)">
            <path d="M12.9805 10.8897H12.366L12.1482 10.6796C12.9105 9.79292 13.3694 8.64172 13.3694 7.38941C13.3694 4.59699 11.1059 2.3335 8.31348 2.3335C5.52106 2.3335 3.25757 4.59699 3.25757 7.38941C3.25757 10.1818 5.52106 12.4453 8.31348 12.4453C9.5658 12.4453 10.717 11.9864 11.6037 11.2241L11.8137 11.4419V12.0564L15.7029 15.9378L16.8619 14.7788L12.9805 10.8897ZM8.31348 10.8897C6.37668 10.8897 4.81323 9.32622 4.81323 7.38941C4.81323 5.45261 6.37668 3.88916 8.31348 3.88916C10.2503 3.88916 11.8137 5.45261 11.8137 7.38941C11.8137 9.32622 10.2503 10.8897 8.31348 10.8897Z" fill="#505050"/>
          </g>
          <defs>
            <clipPath id="clip0_54_21">
              <rect width="18.668" height="18.668" fill="white" transform="translate(0.924072)"/>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="location-container">
        <input class="input-search" type="text" placeholder="Location">
        <svg xmlns="http://www.w3.org/2000/svg" class="location-icon" width="13" height="17" viewBox="0 0 9 13" fill="none">
          <path d="M4.17979 0.196686C1.86424 0.196686 -0.00854492 2.06947 -0.00854492 4.38502C-0.00854492 7.52627 4.17979 12.1634 4.17979 12.1634C4.17979 12.1634 8.36812 7.52627 8.36812 4.38502C8.36812 2.06947 6.49534 0.196686 4.17979 0.196686ZM4.17979 5.88085C3.35409 5.88085 2.68395 5.21072 2.68395 4.38502C2.68395 3.55932 3.35409 2.88919 4.17979 2.88919C5.00549 2.88919 5.67562 3.55932 5.67562 4.38502C5.67562 5.21072 5.00549 5.88085 4.17979 5.88085Z" fill="#505050"/>
        </svg>
      </div>
      <div class="btn-con">
        <button class="search-btn">Search</button>
      </div>
    </div>
    <div class="jobs-container">
      <div class="heading-con">
        <h2>Choose your preference</h2> 
      </div>
      <div class="job-container">
        <p class="job-period">Full Time</p>
        <div class="scrollable-container" #scrollableContainer >
          <div class="box-container" #boxContainer (scroll)="onScroll($event)">
            <a class="job-box" *ngFor="let job of full_time_job_data" (click)="viewJob(job)">
              <p> {{ job.job_title }} </p>
              <p> {{ job.min_salary + ' - '+ job.max_salary}} </p>
              <p>Stack Technologies Pvt Ltd</p>
            </a>
          </div>
        </div>
        <div class="left-scroll-btn-con" *ngIf="isLeftScrollVisible">
          <button class="scroll-btn" (click)="doScroll(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" style="rotate: 180deg;" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
        <div class="scroll-btn-con" *ngIf="isRightScrollVisible">
          <button class="scroll-btn" (click)="doScroll(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="job-container">
        <p class="job-period">Contract</p>
        <div class="box-container" #boxContainers>
          <a class="job-box" *ngFor="let job of contract_job_data" (click)="viewJob(job)">
            <p> {{ job.job_title }} </p>
            <p> {{ job.min_salary + ' - ' + job.max_salary}} </p>
            <p>Stack Technologies Pvt Ltd</p>
          </a>
        </div>
        <div class="left-scroll-btn-con" *ngIf="cIsLeftscrollBtn">
          <button class="scroll-btn" (click)="cDoScroll(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" style="rotate: 180deg;" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
        <div class="scroll-btn-con" *ngIf="cIsRightscrollBtn">
          <button class="scroll-btn" (click)="cDoScroll(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="job-container">
        <p class="job-period">Part Time</p>
        <div class="box-container" #pBoxContainer>
          <a href="/job-description" class="job-box" *ngFor="let job of part_time_job_data">
            <p> {{ job.job_title }} </p>
            <p> {{ job.min_salary + ' - ' + job.max_salary}} </p>
            <p>Stack Technologies Pvt Ltd</p>
          </a>
        </div>
        <div class="left-scroll-btn-con" *ngIf="pIsLeftscrollBtn">
          <button class="scroll-btn" (click)="pDoScroll(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" style="rotate: 180deg;" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
        <div class="scroll-btn-con" *ngIf="pIsRightscrollBtn">
          <button class="scroll-btn" (click)="pDoScroll(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="job-container">
        <p class="job-period">Internship</p>
        <div class="box-container" #iBoxContainer>
          <a class="job-box" *ngFor="let job of internship_job_data" (click)="viewJob(job)">
            <p> {{ job.job_title }} </p>
            <p> {{ job.min_salary + ' - ' + job.max_salary}} </p>
            <p>Stack Technologies Pvt Ltd</p>
          </a>
        </div>
        <div class="left-scroll-btn-con" *ngIf="iIsLeftscrollBtn">
          <button class="scroll-btn" (click)="iDoScroll(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" style="rotate: 180deg;" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
        <div class="scroll-btn-con" *ngIf="iIsRightscrollBtn">
          <button class="scroll-btn" (click)="iDoScroll(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8" fill="none">
              <path d="M6.0875 4.5H0V3.5H6.0875L3.2875 0.7L4 0L8 4L4 8L3.2875 7.3L6.0875 4.5Z" fill="#464646"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
