<app-we-top-profile></app-we-top-profile>
<div class="job-sh-con">
  <div class="job-sh-center">
    <app-we-textfield placeholder_value="Find your perfect job"></app-we-textfield>
    <app-we-textfield placeholder_value="Location"></app-we-textfield>
    <div class="feed-con">
      <div class="company-c-feed-con">
        <div class="logo-con">
          <div class="logo"></div>
        </div>
        <div class="name-text">Capgemnini Technology Services India Limited , OMR
        </div>
        <div class="dev-content">Front End Web Developer</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="info-logo"></div>
        </div>
        <div class="name-text">Infosys
        </div>
        <div class="dev-content">Sr Front End Web Developer</div>
        <div class="salary-details">$9L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="vale-logo"></div>
        </div>
        <div class="name-text">Valeo
        </div>
        <div class="dev-content">Software Engineer</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="tcs-logo"></div>
        </div>
        <div class="name-text">TCS
        </div>
        <div class="dev-content">Senior Data Analyst</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="acce-logo"></div>
        </div>
        <div class="name-text">Accenture
        </div>
        <div class="dev-content">Team Leader - Non Voice</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="jepp-logo"></div>
        </div>
        <div class="name-text">Jeppiar University
        </div>
        <div class="dev-content">Tamil Professor</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
    </div>
    <a class="load-more" href="" style="text-decoration: none;">Load more</a>
  </div>
</div>
<app-we-footer></app-we-footer>
