<app-we-header></app-we-header>
<div class="job-sh-con">
  <div class="job-sh-center">
    <div class="heading-con">
      <h1>Search your jobs</h1>
    </div>
    <div class="search-con">
      <input type="text" class="input-search" placeholder="Find your perfect job">
      <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="20" height="19" viewBox="0 0 20 19" fill="none">
        <g clip-path="url(#clip0_54_21)">
          <path d="M12.9805 10.8897H12.366L12.1482 10.6796C12.9105 9.79292 13.3694 8.64172 13.3694 7.38941C13.3694 4.59699 11.1059 2.3335 8.31348 2.3335C5.52106 2.3335 3.25757 4.59699 3.25757 7.38941C3.25757 10.1818 5.52106 12.4453 8.31348 12.4453C9.5658 12.4453 10.717 11.9864 11.6037 11.2241L11.8137 11.4419V12.0564L15.7029 15.9378L16.8619 14.7788L12.9805 10.8897ZM8.31348 10.8897C6.37668 10.8897 4.81323 9.32622 4.81323 7.38941C4.81323 5.45261 6.37668 3.88916 8.31348 3.88916C10.2503 3.88916 11.8137 5.45261 11.8137 7.38941C11.8137 9.32622 10.2503 10.8897 8.31348 10.8897Z" fill="#747474"/>
        </g>
        <defs>
          <clipPath id="clip0_54_21">
            <rect width="18.668" height="18.668" fill="white" transform="translate(0.924072)"/>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="search-con">
      <input type="text" class="input-search" placeholder="Location">
      <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="12" height="16" viewBox="0 0 9 13" fill="none">
        <path d="M4.17979 0.196686C1.86424 0.196686 -0.00854492 2.06947 -0.00854492 4.38502C-0.00854492 7.52627 4.17979 12.1634 4.17979 12.1634C4.17979 12.1634 8.36812 7.52627 8.36812 4.38502C8.36812 2.06947 6.49534 0.196686 4.17979 0.196686ZM4.17979 5.88085C3.35409 5.88085 2.68395 5.21072 2.68395 4.38502C2.68395 3.55932 3.35409 2.88919 4.17979 2.88919C5.00549 2.88919 5.67562 3.55932 5.67562 4.38502C5.67562 5.21072 5.00549 5.88085 4.17979 5.88085Z" fill="#747474"/>
      </svg>
    </div>
    <div class="feed-con">
      <div class="company-c-feed-con">
        <div class="logo-con">
          <div class="logo"></div>
        </div>
        <div class="name-text">Front End Web Developer
        </div>
        <div class="dev-content">Capgemnini Technology Services India Limited , OMR</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="info-logo"></div>
        </div>
        <p class="name-text">Sr Front End Web Developer</p>
        <p class="dev-content">Infosys</p>
        <p class="salary-details">$9L - $20L</p>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="vale-logo"></div>
        </div>
        <div class="name-text">Software Engineer
        </div>
        <div class="dev-content">Valeo</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="tcs-logo"></div>
        </div>
        <div class="name-text">Senior Data Analyst
        </div>
        <div class="dev-content">TCS</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="acce-logo"></div>
        </div>
        <div class="name-text">Team Leader - Non Voice
        </div>
        <div class="dev-content">Accenture</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
      <div class="company-feed-con">
        <div class="logo-con">
          <div class="jepp-logo"></div>
        </div>
        <div class="name-text">Tamil Professor
        </div>
        <div class="dev-content">Jeppiar University</div>
        <div class="salary-details">$7L - $20L</div>
      </div>
    </div>
    <div class="btn-con">
      <input class="load-more" type="button" value="Load more">
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
