.job-sh-con{
  width:100%;
  padding-top: 55px;
}
.job-sh-center{
  width: 90%;
  margin: 0 auto;
  margin-top: 28px;
}
.heading-con{
  margin-bottom: 25px;
}
.heading-con h1{
  font-size: 35px;
  font-weight: 400;
  color: #000;
}
.search-con{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.input-search{
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  width: 100%;
  padding-left: 35px;
}
.input-search:focus{
  outline: 0.3px solid #000;
}
.search-icon{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12px;
  margin-left: 10px;
}
.feed-con{
  width:100%;
  margin-top:40px;
}
.company-c-feed-con{
  width:100%;
  height: 90px;
}
.company-feed-con{
  width:100%;
  height: 75px;
}
.logo-con{
  width:30px;
  height: 30px;
  border-radius: 20px;
  display: block;
  float: left;
  margin-right: 15px;
}
.logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/capgemini logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.name-text{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.dev-content{
  font-size: 14px;
  font-weight: 400;
  margin-left:45px;
  margin-top: 3px;
}
.salary-details{
  font-size: 12px;
  font-weight: 400;
  margin-left: 45px;
  margin-top: 3px;
}
.info-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/infosys logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vale-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/vale logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tcs-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/tcs logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.acce-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/acce logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.jepp-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/jepp logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.btn-con{
  margin-top: 1rem;
  text-align: center;
}
.load-more{
  min-width: 100px;
  font-size: 14px;
  padding: 6px 17px;
  background-color: #000;
  border: none;
  border-radius: 0;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .job-sh-center{
    width:60%;
  }
  .feed-con {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

