.body-container{
  width:100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 28px;
}
.heading-con{
  margin-bottom: 25px;
}
.heading-con h1{
  font-size: 35px;
  font-weight: 400;
  color: #000;
}
.search-con{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.input-search{
  font-size: var(--inputtext);
  color: var(--headingcolor);
  height: 40px;
  width: 100%;
  padding-left: 35px;
  border-radius: 40px;
  border: 1.055px solid #505050;
}
.input-search:focus{
  outline: 0.3px solid #000;
}
.search-icon{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12px;
  margin-left: 10px;
}
.location-icon{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12px;
  margin-left: 14px;
}
.feed-con{
  width:100%;
  margin-top:40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
a{
  text-decoration: none;
}
.company-feed-con{
  width:100%;
  display: block;
}
.logo-con{
  width:30px;
  height: 30px;
  border-radius: 20px;
  display: block;
  float: left;
  margin-right: 15px;
}
.logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/capgemini logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.name-text{
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.dev-content{
  font-size: 14px;
  font-weight: 400;
  margin-left:45px;
  margin-top: 3px;
}
.salary-details{
  font-size: 12px;
  font-weight: 400;
  margin-left: 45px;
  margin-top: 3px;
}
.info-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/infosys logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vale-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/vale logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tcs-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/tcs logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.acce-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/acce logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.jepp-logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/jepp logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.btn-con{
  margin-top: 2.5rem;
  text-align: center;
}
.load-more{
  font-size: var(--subtext);
  padding: 8px 17px;
  background-color: var(--headingcolor);
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .body-center{
    width:60%;
  }
  .heading-con h1{
    font-size: var(--headingtwo);
  }
  .name-text{
    font-weight: 400;
  }
  .input-search{
    font-size: var(--ntext);
  }
  .load-more{
    font-size: var(--smalltext);
  }
}

