.sign-con{
  width:100%;
  min-height: 100svh;
  padding-top: 55px;
}
.sign-center{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 28px;
}
.sign-text{
  font-size: var(--headingtwo);
  color: var(--we);
  font-weight: 700;
}
.details-con{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-center{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.text-field-con{
  width: 100%;
}
.text-field-country{
  position: relative;
  width: 100%;
}
.country-code-con{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
}
.top-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-icon{
  cursor: pointer;
}
.otp-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.country-codes{
  height: 40px;
  width: 60px;
  font-weight: 400;
  border: 1.055px solid #000;
  font-size: var(--inputtext);
  border-radius: 40px 0px 0px 40px;
  background-color: #E3E3E3;
  text-align: center;
}
.country-codes:focus{
  outline: none;
}
.sg-button-con{
  margin: 1rem 0;
  text-align: center;
}

.info-text{
  font-size: 11px;
  font-weight: 400;
  color: red;
  margin-top: 3px;
}
a{
  cursor: pointer;
  text-decoration: none;
}

.text-field{
  width:100%;
}
.top-name{
  font-size: var(--subtext);
}
.top-name p{
  font-size: 14px;
  color: red;
  display: inline;
}
.input-text{
  font-weight: 400;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  border: 1.055px solid #000;
  font-size: var(--inputtext);
  padding-left: 10px;
  border-radius: 40px;
  background-color: #fff;;
}
.input-text:focus{
  outline: 0.3px solid #000;
}
.signup-btn{
  padding: 8px 17px;
  background-color: var(--bgbutton);
  border: none;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 700;
  color: var(--we);
  cursor: pointer;
}
.otp-container{
  width: 100%;
  margin-top: 5px;
}
.otp-con{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input-otp{
  height: 35px;
  width: 35px;
  font-size: var(--inputtext);
  text-align: center;
  border: 1.055px solid #656565;
  border-radius: 1px;
}
.input-otp:focus{
  outline: 0.5px solid #656565;
}
.resend-otp{
  font-size: var(--subtext);
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 1rem;
}
.enter-otp{
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.two{
  margin-top: 10px;
}
.verify-img{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 9px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
.verify-img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.verify-icon{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 26px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
.verify-icon img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.otp-text ul{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.file-upload-con{
  margin-top: .5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
input[type=file]::file-selector-button{
  display: none;
}
#file{
  width: 90px;
}
.update-btn{
  font-size: var(--subtext);
  font-weight: 700;
  color: var(--we);
  background-color: var(--bgbutton);
  padding: 12px 17px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
#file{
  width: 140px;
}
.login-text-con{
  margin: 1rem 0 1.5rem 0;
  text-align: center;
}
.login-text-con p,a{
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 600px) {
  .input-center{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
  }
  .text-field-con{
    width: 49%;
  }
}
@media screen and (min-width: 1024px) {
  .sign-center{
    width: 50%;
  }
  .sign-text{
    text-align: center;
  }
}
@media screen and (min-width: 1300px) {
  .sign-center{
    width: 45%;
  }
}

@media screen and (min-width: 1600px) {
 .sign-center{
   width: 40%;
 }
}
