<app-we-top></app-we-top>
<div class="sign-con">
  <div class="sign-center">
    <div class="sign-text">
      Sign up
    </div>
    <div class="details-con">
      <div class="input-center">
        <app-we-textfield name="First Name"></app-we-textfield>
      </div>
      <div class="input-center">
        <app-we-textfield name="Last Name"></app-we-textfield>
      </div>
      <div class="input-center">
        <app-we-textfield name="Job title"></app-we-textfield>
      </div>
      <div class="input-center">
        <app-we-textfield name="Mobile No"></app-we-textfield>
      </div>
      <div class="input-center">
        <app-we-password-field value="Create Password"></app-we-password-field>
      </div>
      <div class="input-center">
        <app-we-password-field value="Confirm Password"></app-we-password-field>
      </div>
      <div class="input-center">
        <app-we-textfield name="Email ID"></app-we-textfield>
      </div>
      <app-we-resume></app-we-resume>
      <div class="sg-button-con">
        <a class="sg-button" href="" style="text-decoration: none;">Sign up</a>
      </div>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
