.sign-con{
  width:100%;
}
.sign-center{
  width:70%;
  margin-right: auto;
  margin-left: auto;
  margin-top:60px;
}
.sign-text{
  font-family: Lexend;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.details-con{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-center{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sg-button-con{
  margin-top: 40px;
  text-align: center;
}
.sg-button{
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.file-upload-con{

}
.upload-text{
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 6px;
}
.upload-btn{
  font-size: 13px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 6px 12px;
  background-color: #E3E3E3;
  border: 0.6px solid #000;
  border-radius: 0;
  width: max-content;
  cursor: pointer;
}
input[type=file]::file-selector-button{
  display: none;
}
#file{
  font-size: 12px;
  font-weight: 400;
  width: 95px;
}
.file-img-con{
  height: 150px;
  width: 250px;
}
.file-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 600px) {
  .input-center{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  .text-field-con{
    width: 49%;
  }
}
@media screen and (min-width: 900px) {
  .sign-center{
    width:60%;
    margin-top:45px;
  }
}
