.body-container{
  width: 100%;
  padding-top: 55px;
  min-height: 100dvh;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 28px;
}
.heading-con{
  margin-top: 20px;
}
.heading-con h1{
  font-size: var(--headingtwo);
  font-weight: 400;
  color: var(--headingcolor);
}
.table{
  margin-top: 1rem;
  overflow-y: auto;
}
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
}
thead{
  background-color: var(--we);
}
tbody tr{
  background-color: #F8F8F8;
}
th{
  font-size: 12px;
  color: #fff;
  padding: 8px;
  text-align: left;
  font-weight: 400;
}
td{
  font-size: 12px;
  padding: 8px;
  vertical-align: middle;
  max-width: 100px;
}
.icon{
  vertical-align: bottom;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .body-center{
    width: 60%;
  }
  .heading-con{
    margin-top: 0;
  }
  .icon{
    text-align: left;
  }
}
