<div class="head-con">
  <div class="header-center">
    <div class="header-left">
      <a class="header-txt" href="" style="text-decoration: none;">we.</a>
    </div>
    <div class="header-right">
      <div class="right-center">
        <a class="emp-tag" href="/employer"style="text-decoration: none;">Employer</a>
          <a class="bn-tag" href="/login"style="text-decoration: none;">Login</a>
          <a class="bn-tag" href="/signup"style="text-decoration: none;">sign up</a>
      </div>
    </div>
  </div>
</div>
