.content{
  width:100%;
  padding-top: 10px;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top:5px;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 32px;
  color: #b8b8b8;
}
.button-con {
  position: relative;
}
.fa-upload{
  width:30px;
  position:absolute;
  margin-top:12px;
  right:10px;
  color: white;
}
.button {
  height:40px;
  width:120px;
  display: inline-block;
  padding: 10px 13px;
  cursor: pointer;
  background-color: white;
  font-size: 14px;
  color: white;
  border-style:solid;
  border-width:1px;
  border-color:#7e7a7a;
  font-family:Lexend;
  background-color: black;
}
.info-message{
  width: 100%;
  font-size: 11px;
  font-family: 'Lexend';
  margin-top: 5px;
  color: #424242;
  font-weight: 300;
}
