.body-container{
  width:100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.company-feed-con{
  width:100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  justify-content: space-between;
  margin-top: 20px;
}
.company-top{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.logo-con{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/capgemini logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}
.name-text{
  font-size: var(--headingthree);
  color: var(--headingcolor);
  font-weight: 500;
}
.dev-content{
  font-size: var(--subtext);
  margin-top:5px;
}
.menu-btn-con{
  position: relative;
}
.menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.edit-create-btn{
  display: none;
  animation: 0.5s slideInUp;
}
@keyframes slideInUp {
  0%{
    margin-top: -10px;
  }
  100%{
    margin-top: 0px;
  }
}
.edit-btn-con{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 50px;
}
.edit-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--bgbutton);
  border: none;
  border-radius: 50%;
  color: var(--we);
  font-size: 20px;
  cursor: pointer;
}
.create-btn-con{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100px;
}
.para-con{
  width: 82%;
  margin-top: 30px;
}
.topic{
  font-size: var(--headingthree);
  font-weight: 500;
  padding-bottom: 15px;
  color: var(--headingcolor);
}
.para{
  font-size: var(--subtext);
  line-height: 18px;
}
.point-para{
  display: list-item;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-left:15px;
}
.down-con{
  width:100%;
  background-color: #EEE;
  margin-top:25px;
  padding: 25px 0;
}
.down-center{
  width: 90%;
  margin: 0 auto;
}
.com-name{
  font-size: var(--headingthree);
  font-weight: 500;
  color: var(--headingcolor);
}
.com-details{
  font-size: var(--subtext);
  margin-top: 10px;
}
.web-tag{
  font-size: var(--subtext);
  color: var(--headingcolor);
  margin-top: 25px;
  font-weight: 500;
  display: block;
}
.drop-down-menu-con{
  display: none;
}
a{
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .body-center{
    width: 60%;
  }
  .name-text{
    font-size: var(--subtext);
  }
  .topic{
    font-size: var(--subheading);
  }
  .down-center{
    width: 60%;
  }
  .com-name{
    font-size: var(--ntext);
  }
  .menu-btn-con{
    display: none;
  }
  .para-con{
    width: 70%;
  }
  .drop-down-menu-con{
    display: block;
    position: relative;
  }
  .drop-down-menu{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);
    cursor: pointer;
  }
  .menu-option{
    position: absolute;
    background-color: #fff;
    filter: drop-shadow(0px 1.167px 3.667px rgba(0, 0, 0, 0.32));
    left: -80px;
    margin-top: 5px;
    display: none;
  }
  .menu2{
    display: block;
    white-space: pre;
    font-size: var(--subtext);
    color: var(--headingcolor);
    padding: 5px 8px;
    margin-top: 2px;
    transition: all 0.2s ease-in;
  }
  .menu{
    display: block;
    white-space: pre;
    font-size: var(--subtext);
    color: var(--headingcolor);
    padding: 5px 8px;
    transition: all 0.2s ease-in;
  }
  .menu:after{
    content: "";
    position: absolute;
    border: 7px solid;
    border-color: transparent transparent #fff transparent;
    bottom: 100%;
    right: 10%;
    transition: all 0.2s ease-in;
  }
  .menu:hover{
    background-color: var(--we);
    color: #fff;
  }
  .menu:hover:after{
    border-color: transparent transparent #FF1F00 transparent;
  }
  .menu2:hover{
    background-color: var(--we);
    color: #fff;
  }
}
