<form [formGroup]="jobForm">
  <div class="body-container">
    <div class="body-center">
      <app-we-back-button></app-we-back-button>
      <div class="nav">
        <app-we-navbar></app-we-navbar>
      </div>
      <div class="text-container">
        <div class="heading-con">
          <h1>Create a job post</h1>
        </div>
        <div class="sub-heading">
          How would you like to post your job?
        </div>
      </div>
      <div class="option-center">
        <label class="option-container" for="radio1">
          <div class="option-content">
            <input class="select-btn" id="radio1" type="radio" name="select-btn">
            <p class="sub-text">
              Use a previous job as a template
            </p>
          </div>
        </label>
        <label class="option-container" for="radio2">
          <div class="option-content">
            <input class="select-btn" id="radio2" type="radio" name="select-btn">
            <p class="sub-text">
              Start with a new post
            </p>
          </div>
        </label>
      </div>
      <div class="child-container">
        <div class="container">
          <div class="job-title-con">
            <div class="title">
              Job Title
            </div>
            <input class="input-job-title" type="text" placeholder="Add short, descriptive job title" [formControl]="jobForm.get('job_title')">
          </div>
          <div class="job-location-con">
            <p class="title">Job Location</p>
            <p class="child-job-location">Adding a specific address helps you reach near by candidates</p>
            <textarea rows="5" cols="5" class="input-textarea" placeholder="Add an address" [formControl]="jobForm.get('job_location')"></textarea>
          </div>
          <div class="salary-con">
            <div>
              <p class="title">Salary Range (Optional)</p>
              <div class="salary-range-con">
                <input type="text" class="input-min-salary" placeholder="₹Minimum" [formControl]="jobForm.get('min_salary')">
                <div class="to">TO</div>
                <input type="text" class="input-max-salary" placeholder="₹Maximum" [formControl]="jobForm.get('max_salary')">
                <select  class="period">
                  <option value="Per Year">Per Year</option>
                  <option value="Per Month">Per Month</option>
                  <option value="Per Hour">Per Hour</option>
                </select>
              </div>
            </div>
            <div>
              <p class="title">Job Type</p>
              <select class="time-period">
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
              </select>
            </div>
            <div>
              <p class="title">Job Description</p>
              <textarea class="input-textarea" rows="5" cols="5" [formControl]="jobForm.get('job_description')" placeholder="Describe the responsibilities and preferred skills for this job"></textarea>
            </div>
            <div>
              <p class="title">Company Profile</p>
              <textarea class="input-textarea" rows="5" cols="5" [formControl]="jobForm.get('company_profile')" placeholder="Write about your company founding idea, established year, achievements, employees..."></textarea>
            </div>
          </div>
          <div class="btn-con">
            <input class="submit-button" type="button" value="Post" (click)="doPost()">
          </div>
        </div>
      </div>
      <div class="previous-post-container">
        <div class="search-con">
          <input class="input-search" type="text" placeholder="Search">
          <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M12.7368 13.5388L7.95944 8.7615C7.57913 9.0755 7.14176 9.32124 6.64736 9.49872C6.15295 9.6762 5.64147 9.76494 5.11294 9.76494C3.8129 9.76494 2.71263 9.31481 1.81215 8.41456C0.911667 7.5143 0.461426 6.41432 0.461426 5.11462C0.461426 3.81491 0.911553 2.71453 1.81181 1.81348C2.71206 0.912434 3.81205 0.461914 5.11176 0.461914C6.41146 0.461914 7.51184 0.912157 8.41289 1.81264C9.31394 2.71312 9.76447 3.81338 9.76447 5.11343C9.76447 5.65659 9.67329 6.17538 9.49093 6.66979C9.30857 7.1642 9.06526 7.59424 8.76101 7.95993L13.5383 12.7373L12.7368 13.5388ZM5.11294 8.62403C6.09298 8.62403 6.9231 8.28394 7.60328 7.60376C8.28346 6.92358 8.62355 6.09347 8.62355 5.11343C8.62355 4.13338 8.28346 3.30327 7.60328 2.62309C6.9231 1.94291 6.09298 1.60282 5.11294 1.60282C4.13289 1.60282 3.30278 1.94291 2.6226 2.62309C1.94243 3.30327 1.60235 4.13338 1.60235 5.11343C1.60235 6.09347 1.94243 6.92358 2.6226 7.60376C3.30278 8.28394 4.13289 8.62403 5.11294 8.62403Z" fill="#464646"/>
          </svg>
        </div>
        <div class="job-table">
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Jobs</th>
              <th>Job Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>10.01.2024</td>
              <td>Software Developer</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open" (click)="this.router.navigate(['/jobPost-details'])"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Senior Software Developer Senior Software Developer</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Software Developer</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Product Manager</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Product Manager</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Product Manager</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Product Manager</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            <tr>
              <td>10.01.2024</td>
              <td>Product Manager</td>
              <td style="text-align: center"><input type="button" class="open-btn" value="Open"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="load-btn-con">
          <input type="button" class="load-more-btn" value="Load more">
        </div>
      </div>
    </div>
  </div>
</form>
