.body-container{
  width: 100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.text-container{
  width: 100%;
  margin-top: 20px;
}
.heading-con h1{
  font-size: var(--headingtwo);
  font-weight: 400;
  color: var(--headingcolor);
}
.sub-heading{
  font-size: var(--inputtext);
  font-weight: 400;
  margin-top: 7px;
}
.sub-text{
  font-size: var(--subtext);
  color: var(--headingcolor);
  cursor: pointer;
}
.option-center{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.option-container{
  width: 100%;
  border: 1.055px solid black;
  padding: 15px;
  border-radius: 40px;
  margin-top: 1rem;
  cursor: pointer;
}
.option-content{
  display: flex;
  align-items: center;
}
.select-btn{
  margin-right: 10px;
  accent-color: #1400FF;
}
.select-content{
  font-size: 16px;
  font-weight: 500;
  color: #505050;
}
.child-select-content{
  color: #505050;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 28px;
  width: 180px;
  margin-top: 7px;
}
.child-container{
  width: 100%;
  display: none;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.job-title-con{
  margin-top: 1rem;
}
.title{
  font-size: 16px;
  color: #000;
}
.input-job-title{
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border-radius: 40px;
  border: 1.055px solid black;
  font-size: var(--smalltext);
  color: var(--headingcolor);
  padding-left: 10px;
}
.input-job-title:focus{
  outline: none;
}
.job-location-con{

}
.child-job-location{
  font-size: 13px;
  font-weight: 400;
  color: #505050;
  width: 280px;
  line-height: normal;
  margin-top: 3px;
}
::placeholder{
  font-size: 14px;
  font-weight: 400;
}
.salary-con{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.salary-range-con{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.to{
  font-size: 14px;
  font-weight: 400;
  color: #505050;
  display: inline-block;
}
.input-min-salary{
  width: 30%;
  height: 40px;
  font-size: var(--smalltext);
  color: var(--headingcolor);
  border-radius: 40px;
  border: 1.055px solid #505050;
  padding-left: 10px;
}
.input-min-salary:focus{
  outline: none;
}
.input-max-salary{
  width: 30%;
  height: 40px;
  font-size: var(--smalltext);
  color: var(--headingcolor);
  padding-left: 10px;
  border: 1.055px solid #505050;
  border-radius: 40px;
}
.input-max-salary:focus{
  outline: none;
}
.period{
  width: 25%;
  height: 40px;
  border: 1.055px solid #505050;
  border-radius: 40px;
  background-color: white;
  padding-left: 10px;
  font-size: var(--smalltext);
  color: var(--headingcolor);
}
.period:focus{
  outline: none;
}
.time-period{
  width: 30%;
  height: 40px;
  border: 1.055px solid #505050;
  border-radius: 40px;
  color: var(--headingcolor);
  background-color: white;
  margin-top: 5px;
  padding-left: 10px;
  font-size: var(--smalltext);
}
.time-period:focus{
  outline:none;
}
.input-textarea{
  width: 100%;
  resize: none;
  padding-top: 13px;
  padding-left: 10px;
  margin-top: 5px;
  border: 1.055px solid #505050;
  border-radius: 10px;
  font-size: var(--smalltext);
  color: var(--headingcolor);
}
.input-textarea:focus{
  outline: 0.3px solid #000;
}
.btn-con{
  text-align: center;
  margin-top: 2rem;
}
.submit-button{
  padding: 8px 17px;
  background-color: var(--headingcolor);
  border: none;
  border-radius: 40px;
  font-size: var(--subtext);
  color: #fff;
  cursor: pointer;
}
.search-con{
  position: relative;
  margin-top: 1.5rem;
}
.input-search{
  font-size: var(--inputtext);
  color: var(--headingcolor);
  height: 40px;
  width: 100%;
  border-radius: 40px;
  border: 1.055px solid #505050;
  padding-left: 35px;
}
.input-search:focus{
  outline: 0.3px solid #000;
}
.search-icon{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14px;
  margin-left: 14px;
}
.job-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}
thead{
  background-color: #1400FF;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
th{
  font-size: var(--subtext);
  color: #fff;
  font-weight: 400;
  padding: 8px 12px;
  text-align: left;
  white-space: pre;
}
td{
  font-size: var(--tabletext);
  padding: 8px 12px;
}
tbody tr{
  background-color: #ECECEC;
  border-bottom: 2px solid transparent;
}
tbody tr:last-child{
  border-bottom: 2px solid transparent;
}
.open-btn{
  font-size: var(--tabletext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
}
.load-btn-con{
  margin-bottom: 1rem;
  text-align: center;
}
.load-more-btn{
  font-size: var(--subtext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 8px 17px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
@media only screen and (min-width:600px) {
  .head-top {
    height: 55px;
  }
  .header-con {
    padding-top: 1%;
  }
  .profile-con{
    padding-right: 5%;
  }
  .input-min-salary{
    width: 35%;
  }
  .input-min-salary{
    width: 35%;
  }
  .child-job-location{
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .body-center{
    width: 60%;
  }
  .option-center{
    flex-direction: row;
    gap: 1rem;
  }
  .head-top {
    height: 55px;
  }
  .header-con {
    padding-top: 0.5%;
    padding-left: 15%;
  }
  .profile-con{
    padding-right: 16%;
  }
  .head-text {
    font-size: 35px;
  }
  .emp-jobpost-center{
    width: 70%;
  }
  .input-min-salary{
    width: 37%;
  }
  .input-min-salary{
    width: 37%;
  }
}
