<app-we-header></app-we-header>
<form [formGroup]="loginForm">
  <div class="emp-log-con">
    <div class="emp-log-center">
      <div class="emp-acct-txt-con">
        <div class="emp-acct-txt">Employer Account</div>
      </div>
      <div class="emp-log-txt-con">
        <div class="emp-log-txt">Login</div>
      </div>
      <div class="emp-mail-pass-con">
        <div class="text-field">
          <div class="top-name">Email id</div>
          <input class="input-text" type="text" autocomplete="off" [formControl]="loginForm.get('email_id')">
        </div>
        <div class="text-field">
          <div class="top-name">Password</div>
          <input class="input-text" type="password" autocomplete="off" [formControl]="loginForm.get('password')">
        </div>
      </div>
      <div class="emp-log-button-con">
        <input class="login-btn" type="button" value="Login" (click)="doLogin()">
      </div>
      <div class="emp-lg-txt-con">
        <div class="emp-lg-text">Create Employer account?</div>
        <a class="emp-sign-tag" href="/employer-signup" style="text-decoration: none;">Sign up</a>
      </div>
    </div>
  </div>
</form>
<app-we-footer></app-we-footer>
