<app-we-top></app-we-top>
<div class="emp-log-con">
  <div class="emp-log-center">
    <div class="emp-acct-txt-con">
      <div class="emp-acct-txt">Employer Account</div>
    </div>
    <div class="emp-log-txt-con">
      <div class="emp-log-txt">Login</div>
    </div>
    <div class="emp-mail-pass-con">
      <app-we-textfield name="Email ID"></app-we-textfield>
      <app-we-password-field value="Password"></app-we-password-field>
    </div>
    <div class="emp-log-button-con">
      <a class="emp-log-button" href="" style="text-decoration: none;">Login</a>
    </div>
    <div class="emp-lg-txt-con">
      <div class="emp-lg-text">Create Employer account?</div>
      <a class="emp-sign-tag" href="/employer-signup" style="text-decoration: none;">Sign up</a>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
