.drop-down-con{
  width:100%;
}
.top-name{
  color: #424242;
  font-size: var(--subtext);
  font-weight: 400;
}
.drop-down{
  width:100%;
  height: 40px;
  margin-top:5px;
  padding-left:10px;
  font-size: var(--inputtext);
  color: var(--headingcolor);
  border: 0.8px solid #505050;
  border-radius: 40px;
  background-color: #fff;
}
.drop-down:focus{
  outline: 0.3px solid #000;
}
@media screen and (min-width: 600px){

}
@media screen and (min-width: 900px){
  .drop-down{
    height: 35px;
  }
}
