.body-container{
  width: 100%;
  padding-top: 50px;
  height: 100dvh;
  overflow: hidden;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 28px;
}
.search-con{
  position: relative;
  margin-top: 1.5rem;
}
.input-search{
  font-size: var(--inputtext);
  color: var(--headingcolor);
  height: 40px;
  width: 100%;
  border-radius: 40px;
  border: 0.8px solid #505050;
  padding-left: 35px;
}
.input-search:focus{
  outline: 0.3px solid #000;
}
.search-icon{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14px;
  margin-left: 14px;
}
.job-table{
  margin-top: 1rem;
  height: 60dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.job-table::-webkit-scrollbar{
  display: none;
}
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}
thead{
  background-color: #1400FF;
  position: sticky;
  top: 0;
}
th{
  font-size: var(--subtext);
  color: #fff;
  font-weight: 400;
  padding: 5px 12px;
  text-align: left;
  text-wrap: nowrap;
}
td{
  font-size: var(--tabletext);
  padding: 8px 12px;
}
tbody tr{
  background-color: #ECECEC;
  border-bottom: 2px solid transparent;
}
tbody tr:last-child{
  border-bottom: 2px solid transparent;
}
.open-btn{
  font-size: var(--tabletext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
}
