<app-we-header></app-we-header>
<div class="job-ad-con">
  <div class="job-ad-center">
    <div class="job-ad-txt-con">
      <div class="job-ad-txt">Job Applied</div>
      <div class="notification-txt">Notification</div>
      <i class="fa fa-bell-o"></i>
    </div>
    <div class="notifi-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
    <div class="notifi-bar-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
    <div class="notifi-bar-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
    <div class="notifi-bar-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
    <div class="notifi-bar-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
    <div class="notifi-bar-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
    <div class="notifi-bar-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 june 2023</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
