.body-container{
  width:100%;
  padding-top: 55px;
  min-height: 100svh;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.job-ad-txt-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-con{
  margin: 20px 0;
}
.heading-con h1{
  font-size: var(--headingfour);
  font-weight: 700;
  color: var(--headingcolor);
}
.job-applied-container{
  width: 100%;
}
.no-job-container{
  display: none;
}
.job-applied-empty-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72dvh;
}
.empty-img-con{
  height: 70vw;
  width: 80vw;
}
.empty-img-con img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.text-con h1{
  font-size: var(--headingtwo);
  text-align: center;
  font-weight: 400;
}
.search-btn-con{
  margin-top: 2rem;
  text-align: center;
}
.jobs-con{

}
.job-applied{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}
.job-title-con{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.job-title{
  font-size: var(--headingthree);
  font-weight: 700;
}
.date{
  font-size: var(--tabletext);
}
.job-company-con{
  display: flex;
  align-items: center;
}
.company-name{
  font-size: var(--subtext);
  font-weight: 500;
}
.view-btn{
  font-size: var(--tabletext);
  font-weight: 700;
  background-color: var(--bgbutton);
  color: var(--we);
  padding: 8px 17px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  max-width: fit-content;
}
.profile-option-container{
  display: none;
}
.heading-con{
  display: none;
}
.option-button-container-m{
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.option-button{
  font-size: var(--headingthree);
  color: var(--headingcolor);
  font-weight: 700;
  border: none;
  background-color: transparent;
}
.active-button{
  border-bottom: 3px solid var(--we);
  padding-bottom: 3px;
}
@media screen and (min-width: 600px) {
  .body-center {
    width: 70%;
  }
  .empty-img-con{
    height: 50vw;
    width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  .body-container{
    height: 100dvh;
    overflow: hidden;
  }
  .empty-img-con{
    height: 23vw;
    width: 27vw;
  }
  .text-con h1{
    font-size: var(--headingthree);
  }
  .job-profile-container{
    display: flex;
    gap: 2rem;
  }
  .profile-option-container{
    display: block;
    width: 30%;
    flex-shrink: 0;
  }
  .profile-container{
    padding: 20px;
    margin-top: 45px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .saved-jobs-container{
    width: 70%;
    opacity: 1;
    animation: 0.3s fade-in ease-in-out;
  }
  .job-applied-container{
    width: 70%;
    opacity: 1;
    animation: 0.3s fade-in ease-in-out;
  }
  @keyframes fade-in {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .jobs-con{
    max-height: 80dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 0 15px;
  }
  .heading-con{
    margin-top: 0;
    padding: 0 15px;
    display: block;
  }
  .profile-img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
  }
  .job-title{
    font-size: var(--subtext);
  }
  .profile-details{
    margin-top: 1rem;
    text-align: center;
  }
  .profile-name{
    font-size: var(--subheading);
  }
  .location{
    font-size: var(--subtext);
  }
  .profile-qualifications{
    margin-top: 0.5rem;
  }
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    text-align: center;
  }
  .left-q{
    font-size: var(--subtext);
  }
  .right-q{
    font-size: var(--subtext);
    text-align: right;
    margin-bottom: 25px;
  }
  .profile-btn{
    text-align: center;
  }
  .profile-btn button{
    font-size: var(--subtext);
    font-weight: 700;
    color: var(--we);
    background-color: var(--bgbutton);
    padding: 8px 17px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  .option-container{
    margin-top: 3rem;
  }
  .option-button-container-m{
    display: none;
  }
  .option-button-container{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    gap: 8px
  }
  .option-button{
    font-size: var(--subtext);
    font-weight: 700;
    color: var(--darkgray);
    background-color: var(--lightgray);
    min-height: 40px;
    padding: 8px 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: border 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .active-button{
    border: 1px solid var(--darkgray);
    color: var(--darkgray);
    text-decoration: none;
  }

}
