<app-we-header></app-we-header>
<div class="job-ad-con">
  <div class="job-ad-center">
    <div class="heading-con">
      <h1>Job Applied</h1>
    </div>
    <a href="/job-status" class="notifi-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 Jne 2023</div>
        </div>
      </div>
    </a>
    <a href="/job-status" class="notifi-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 June 2023</div>
        </div>
      </div>
    </a>
    <a href="/job-status" class="notifi-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 June 2023</div>
        </div>
      </div>
    </a>
    <a href="/job-status" class="notifi-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 June 2023</div>
        </div>
      </div>
    </a>
    <a href="/job-status" class="notifi-con">
      <div class="notifi-center">
        <div class="notifi-head-text">
          Capgemnini Technology Services India Limited
        </div>
        <div class="notifi-dev-text">
          Front End Web Developer
        </div>
        <div class="date-con">
          <div class="date">1 June 2023</div>
        </div>
      </div>
    </a>
  </div>
</div>
<app-we-footer></app-we-footer>
