.body-container{
  width:100%;
  padding-top: 55px;
  min-height: 100svh;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.job-ad-txt-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-con{
  margin-top: 20px;
}
.heading-con h1{
  font-size: var(--headingfour);
  font-weight: 700;
  color: var(--headingcolor);
}
.fa-bell-o{
  font-size: 15px;
}
a{
  text-decoration: none;
}
.notifi-con{
  width:100%;
  background-color: #F2F2F2;
  margin-top: 3px;
  padding: 15px;
  display: block;
}
.notifi-con:nth-child(2){
  margin-top: 20px;
}
.notifi-bar-con{
  width:100%;
  background-color: #F2F2F2;
  margin-top: 3px;
}
.notifi-center{
  width:100%;
}
.notifi-head-text{
  font-size: var(--subtext);
  font-weight: 700;
}
.notifi-dev-text{
  font-size: var(--subtext);
  padding-top: 5px;
}
.date-con{
  margin-top: 5px;
}
.date{
  font-size: 13px;
}
@media screen and (min-width: 600px) {
  .body-center {
    width: 70%;
  }
  .job-ad-txt-con{
    margin-left:0px;
  }
}
@media screen and (min-width: 1024px) {
  .title{
    font-size: var(--headingtwo);
  }
}
