<app-we-header></app-we-header>
<div class="img-con">
  <div class="img"></div>
</div>
<div class="top-text-con">
  <div class="top-text">Candidate</div>
</div>
<div class="half-page">
  <div class="double-text">
    <app-we-textfield name="First Name"></app-we-textfield>
    <app-we-textfield name="Last Name"></app-we-textfield>
  </div>
  <app-we-textfield name="Job Type"></app-we-textfield>
  <app-we-textfield name="Industry"></app-we-textfield>
  <app-we-dropdown value="Experience"></app-we-dropdown>
  <app-we-dropdown value="Education"></app-we-dropdown>
  <app-we-dropdown value="Degree"></app-we-dropdown>
  <app-we-textfield name="Completed Year"></app-we-textfield>
  <app-we-textarea value="Skills"></app-we-textarea>
  <app-we-textarea value="Address"></app-we-textarea>
  <app-we-textfield name="Mobile No"></app-we-textfield>
  <app-we-textfield name="Email ID"></app-we-textfield>

  <app-we-button></app-we-button>
</div>
