<app-we-header></app-we-header>
<div class="img-con">
  <div class="img"></div>
</div>
<div class="top-text-con">
  <div class="top-text">Employer</div>
</div>
<div class="half-page">
  <app-we-textfield name="Company Name"></app-we-textfield>
  <app-we-textfield name="GST or Pan Number"></app-we-textfield>
  <app-we-dropdown value="Industry Name"></app-we-dropdown>
  <app-we-textarea value="Address"></app-we-textarea>
  <app-we-textfield name="Telephone Number"></app-we-textfield>
  <app-we-textfield name="Email ID"></app-we-textfield>
  <app-we-button></app-we-button>
</div>
