.we-container{
  width:100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  background-color: #fff;
}
.we-center{
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}
.designs-con{
  display: flex;
  justify-content: center;
  gap: 0.3rem
}
.square-con{
  height: 50px;
  width:50px;
  background-color: var(--we);
}
.circle-con{
  height: 50px;
  width:50px;
  background-color: var(--we);
  border-radius: 30px;
}
.triangle-con{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid var(--we);
  rotate: 90deg;
}
.we-text-con{
  margin-top:50px;
}
.we-textx{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.we-texty{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.go-button-con{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 600px){
  .we-texty{
    width:85%;
  }
}
@media screen and (min-width: 1024px){
  .we-texty{
    width:100%;
    font-size: var(--headingtwo);
  }
  .we-center{
    text-align: center;
    margin-top:140px;
    margin-bottom: 105px;
  }
}
