<app-we-header></app-we-header>
<div class="we-container">
  <div class="we-center">
    <div class="designs-con">
      <div class="square-con"></div>
      <div class="circle-con"></div>
      <div class="triangle-con"></div>
    </div>
    <div class="we-text-con">
      <div class="we-textx">
        Welcome Tom,
      </div>
      <div class="we-texty">
        explore your new opportunities in Chennai
      </div>
    </div>
    <div class="go-button-con">
      <input class="go-button" type="button" value="Go" (click)="this.router.navigate(['/job-search'])">
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
