<app-we-top></app-we-top>
<div class="icon-con">
  <div class="icon"></div>
</div>
<div class="top-text-con">
  <div class="top-text">Create Jobs</div>
</div>
<div class="middle-page">
  <div class="middle-center">
    <div class="double">
      <div class="drop-down-con">
        <div class="top-name">Industry Type</div>
        <select name="we" class="drop-down">
          <option>Realestate</option>
          <option>construction</option>
        </select>
      </div>
      <div class="text-field">
        <div class="top-name">Job Title</div>
        <input class="input-con" type="text">
      </div>
    </div>
    <div class="drop-down-con">
      <div class="top-name">Salary per Annum</div>
      <select name="we" class="drop-down">
        <option>Dollar</option>
        <option>Euro</option>
      </select>
    </div>
    <div class="text-field">
      <div class="top-name">Years of experience</div>
      <input class="input-con" type="text">
    </div>
    <div class="drop-down-con">
      <div class="top-name">Area for posting</div>
      <select name="we" class="drop-down">
        <option>Dollar</option>
        <option>Euro</option>
      </select>
    </div>
    <div class="drop-down-con">
      <div class="top-name">Pincode</div>
      <select name="we" class="drop-down">
        <option>Dollar</option>
        <option>Euro</option>
      </select>
    </div>
    <div class="text-area-con">
      <div class="top-name">Job Description</div>
      <textarea cols="5" rows="5" class="text-area"></textarea>
    </div>
    <div class="drop-down-con">
      <div class="top-name">Work from home</div>
      <select name="we" class="drop-down">
        <option>Dollar</option>
        <option>Euro</option>
      </select>
    </div>
    <input class="button" type="button" value="Submit">
  </div>
</div>
