<app-we-top></app-we-top>
<div class="login-con">
  <div class="login-center">
    <div class="login-text">
      Login
    </div>
    <div class="mail-con">
      <app-we-textfield name="Email ID"></app-we-textfield>
      <app-we-password-field value="Password"></app-we-password-field>
    </div>
    <div class="login-button-con">
      <a class="login-button" href="" style="text-decoration: none">Login</a>
    </div>
    <div class="lg-text-con">
      <div class="lg-text">No candidate account?</div>
      <a class="sign-tag" href="" style="text-decoration: none;">Sign up</a>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
