<form [formGroup]="loginForm">
  <div class="login-con">
    <div class="login-center">
      <div class="login" *ngIf="showLogin">
        <div class="login-text">
          Login
        </div>
        <div class="mail-con">
          <div class="text-field">
            <div class="top-icon">
              <div class="top-name">Enter your Registered Mobile Number</div>
              <svg xmlns="http://www.w3.org/2000/svg" (click)="editNumber()" *ngIf="editIcon" class="edit-icon" height="20" viewBox="0 -960 960 960" width="20">
                <path d="M200-200h43.92l427.93-427.92-43.93-43.93L200-243.92V-200Zm-40 40v-100.77l527.23-527.77q6.15-5.48 13.57-8.47 7.43-2.99 15.49-2.99t15.62 2.54q7.55 2.54 13.94 9.15l42.69 42.93q6.61 6.38 9.04 14 2.42 7.63 2.42 15.25 0 8.13-2.74 15.56-2.74 7.42-8.72 13.57L260.77-160H160Zm600.77-556.31-44.46-44.46 44.46 44.46ZM649.5-649.5l-21.58-22.35 43.93 43.93-22.35-21.58Z"/>
              </svg>
            </div>
            <div class="text-field-country">
              <div class="country-code-con">
                <select class="country-codes">
                  <option class="country-code" value="India">+91</option>
                  <option class="country-code" value="us">+1</option>
                  <option class="country-code" value="Uk">+44</option>
                </select>
              </div>
              <input class="input-text" type="text" maxlength="10" inputmode="numeric" (keyup.enter)="sendOtp()" (focus)="onFocucsField('mobile_number')" (keypress)="allowOnlyNumbers($event)" style="padding-left: 70px;" [formControl]="loginForm.get('mobile_number')" autocomplete="off">
              <p class="info-text" *ngIf="loginForm.get('mobile_number')?.hasError('required') && loginForm.get('mobile_number')?.touched">This field is required</p>
              <a style="text-decoration: underline;" class="lg-text" (click)="showEmailVerification()">Forgot your mobile number?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="email" *ngIf="showEmail">
        <div class="login-text">
          Finding your mobile number
        </div>
        <div class="mail-con">
          <form [formGroup]="mailForm">
            <div class="text-field">
              <div class="top-icon">
                <div class="top-name">Enter your registered mail id</div>
                <svg xmlns="http://www.w3.org/2000/svg" (click)="editMail()" *ngIf="mailEditIcon" class="edit-icon" height="20" viewBox="0 -960 960 960" width="20">
                  <path d="M200-200h43.92l427.93-427.92-43.93-43.93L200-243.92V-200Zm-40 40v-100.77l527.23-527.77q6.15-5.48 13.57-8.47 7.43-2.99 15.49-2.99t15.62 2.54q7.55 2.54 13.94 9.15l42.69 42.93q6.61 6.38 9.04 14 2.42 7.63 2.42 15.25 0 8.13-2.74 15.56-2.74 7.42-8.72 13.57L260.77-160H160Zm600.77-556.31-44.46-44.46 44.46 44.46ZM649.5-649.5l-21.58-22.35 43.93 43.93-22.35-21.58Z"/>
                </svg>
              </div>
              <input type="text" class="input-text" inputmode="email" [formControl]="mailForm.get('email_id')">
              <p class="info-text" *ngIf="mailForm.get('email_id')?.hasError('required') && mailForm.get('email_id').touched">This field is required</p>
              <p class="info-text" *ngIf="mailForm.get('email_id')?.hasError('email')">Please provide valid mail</p>
            </div>
          </form>
        </div>
      </div>
      <div class="mobile-number" *ngIf="showMobileNumber">
        <div class="login-text">
          Your mobile number
        </div>
        <p class="m-number"> {{ mobileNumber }} </p>
        <p class="lg-text" style="text-align: center;" (click)="loginShow()">Want to login?</p>
        <!-- <p class="lg-text" (click)="go()">Go to home page</p> -->
      </div>
      <div class="login-button-con" *ngIf="submitBtn">
        <input class="login-btn" value="Submit" type="button" (click)="sendOtp()">
      </div>
      <div class="login-button-con" *ngIf="eSubmitBtn">
        <input class="login-btn" value="Submit" type="button" (click)="sendEmailOtp()">
      </div>
      <form [formGroup]="otpForm">
        <div class="otp-container" *ngIf="showOtp">
          <p class="enter-otp" *ngIf="mobileText">Enter the otp which is send to your number</p>
          <p class="enter-otp" *ngIf="mailText">Enter the otp which is send to your mail id</p>
          <div class="otp-info">
            <div class="otp-con">
              <input type="text" class="input-otp" inputmode="numeric" maxlength="1" [formControl]="otpForm.get('otp1')" (input)="onInput($event, otp1, otp2)" #otp1 (keydown)="onKeyDown($event, otp1,undefined)">
              <input type="text" class="input-otp" inputmode="numeric" maxlength="1" [formControl]="otpForm.get('otp2')" (input)="onInput($event, otp2, otp3)" #otp2 (keydown)="onKeyDown($event,otp2, otp1)">
              <input type="text" class="input-otp" inputmode="numeric" maxlength="1" [formControl]="otpForm.get('otp3')" (input)="onInput($event, otp3, otp4)" #otp3 (keydown)="onKeyDown($event,otp3, otp2)">
              <input type="text" class="input-otp" inputmode="numeric" maxlength="1" [formControl]="otpForm.get('otp4')" (input)="onInput($event, otp4, undefined)" #otp4 (keydown)="onKeyDown($event,otp4, otp3)">
            </div>
            <p class="info-text-e" *ngIf="wrongOtp">Please provide correct otp</p>
          </div>
          <a class="resend-otp" *ngIf="mobileOtp" (click)="resendOtp()">Resend OTP</a>
          <a class="resend-otp" *ngIf="mailOtp" (click)="resendMailOtp()">Resend OTP</a>
        </div>
      </form>
      <div class="lg-text-con" *ngIf="submitBtn">
        <p class="lg-text">Don't have an account? <a href="/signup"><b>Create one</b></a></p>
      </div>
    </div>
  </div>
</form>
<app-toaster #toaster></app-toaster>