.password-field{
  width:100%;
}
.pass{
  font-size: 12px;
  font-weight: 300;
}
.input-pass{
  height: 40px;
  width:100%;
  font-size: 13px;
  font-weight: 400;
  margin-top:5px;
  border: 0.5px solid #000;
  padding-left: 10px;
  border-radius: 0;
}
.input-pass:focus{
  outline: 0.3px solid #000;
}
.required-text{
  font-size: 0.64rem;
  font-weight: 400;
  font-style: italic;
  color: #ff0000;
  margin-top: 3px;
}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 900px) {
  .input-pass{
    height: 35px;
  }
}
