.password-field{
  width:100%;
  padding-top: 10px;
}
.pass{
  font-size: 12px;
  font-family: Lexend;
  font-weight: 300;
}
.input-pass{
  height:30px;
  width:100%;
  margin-top:5px;
  border-style: solid;
  border-width: 0.5px;
}
@media screen and (min-width: 600px) {
  .password-field{
    display: inline-block;
    padding-right: 3%;
    margin-top: 10px;
    padding-top: 0;
  }
}
