.head-top{
  width: 100%;
  height:60px;
  box-shadow: 2px 2px gainsboro;
}
.header-con{
  width:100%;
  padding-left: 5%;
  padding-top: 3px;
}
.header-text{
  font-size:35px;
  font-family:Lexend;
  color:#1400FF;
  font-weight: 700;
  display: inline-block;
}
.profile-con{
  display: inline-block;
  float:right;
  padding-right: 5%;
  padding-top: 2px;
}
.profile-name{
  font-size: 12px;
  font-family: Lexend;
  font-weight: 400;
  margin-right: 5px;
  display: block;
  float:left;
  color:black;
  padding-top: 15px;
}
.profile-icon{
  width:25px;
  height: 25px;
  display: block;
  float: left;
  background-color: #D9D9D9;
  margin-top: 10px;
  border-radius: 15px;
}
.material-icons{
  font-size: 15px;
  padding:6px;
}
@media only screen and (min-width:600px) {
  .head-top {
    height: 55px;
  }
  .header-con {
    padding-top: 1%;
  }
}
@media only screen and (min-width:900px) {
  .head-top {
    height: 55px;
  }
  .header-con {
    padding-top: 0.5%;
    padding-left: 15%;
  }
  .profile-con{
    padding-right: 16%;
  }
  .head-text {
    font-size: 35px;
  }
}
