<div class="footer-container">
  <div class="footer-center">
    <div class="footer-con">
      <div class="footer-header-text-con">
        <a class="footer-header-text" href="" style="text-decoration: none;">we.</a>
      </div>
      <div class="table">
        <div class="heading-b-text">we</div>
        <div class="tag-con">
          <a class="down-tag" href="">About / press</a>
          <a class="down-tag" href="">Blog</a>
        </div>
      </div>
      <div class="tablex">
        <div class="l-tag-con">
          <a class="down-tag-b" href="/login">Login</a>
          <a class="down-tag-b" href="/signup">Sign up</a>
        </div>
        <div class="tag-b-con">
          <a class="down-tag-b" href="/employer">Employer</a>
        </div>
      </div>
      <div class="tabley">
        <div class="hd-txt">Information</div>
        <div class="tag-con">
          <a class="down-tag" href="">My information</a>
          <a class="down-tag" href="">Help / contact us</a>
          <a class="down-tag" href="">Guidelines</a>
          <a class="down-tag" href="">Terms of use</a>
          <a class="down-tag" href="">Privacy / cookies</a>
        </div>
      </div>
      <div class="tablez">
        <div class="hd-txt">Work with us</div>
        <div class="tag-con">
          <a class="down-tag" href="">Advertisers</a>
          <a class="down-tag" href="">Careers</a>
        </div>
      </div>
    </div>
    <div class="app-con">
      <div class="app">Download the app</div>
      <a class="link-android">
        <i class="fa fa-android"></i>
      </a>
      <a class="link-apple" href="">
        <i class="fa fa-apple"></i>
      </a>
    </div>
  </div>
</div>

