<app-we-header></app-we-header>
<div class="emp-pe-con">
  <div class="emp-pe-center">
    <div class="emp-pe-txt">Hi UUK Softwares</div>
    <div class="emp-db-con">
      <div class="emp-db">
        <i class="material-icons">domain</i>
        <a class="emp-db-tag" href="" style="text-decoration: none;">Employer</a>
      </div>
      <div class="emp-db">
        <i class="fa fa-briefcase"></i>
        <a class="emp-db-tag" href="" style="text-decoration: none;">Job</a>
      </div>
      <div class="emp-db">
        <i class="material-icons">group</i>
        <a class="emp-db-tag" href="" style="text-decoration: none;">Candidate</a>
      </div>
      <div class="emp-db">
        <i class="material-icons">poll</i>
        <a class="emp-db-tag" href="" style="text-decoration: none;">Analytics</a>
      </div>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
