.text-area-con{
  width:100%;
}
.top-name{
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}
.text-area{
  width: 100%;
  margin-top:5px;
  resize:none;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 0;

}
.text-area:focus{
  outline: 0.3px solid #000;
}
.edit-icon{
  display: inline-block;
}
.fa-pencil{
  font-size: 11px;
}
