<app-we-header></app-we-header>
<div class="job-dn-con">
  <div class="job-dn-center">
    <div class="company-c-feed-con">
      <div class="logo-con">
        <div class="logo"></div>
      </div>
      <div class="name-text">Front End Web Developer
      </div>
      <div class="dev-content">Capgemnini Technology Services India Limited , OMR</div>
    </div>
    <input class="apply-button" type="button" value="Apply">
    <div class="para-con">
      <div class="topic">Job brief</div>
      <div class="para">
        We are looking for a Software Developer to build and implement functional programs.
        You will work with other
        Developers and Product Managers throughout the software development
        life cycle.
        <br>
        <br>
        In this role, you should be a team player with a keen eye for detail and problem-solving skills. If you also
        have experience in Agile frameworks and popular coding languages (e.g. JavaScript), we’d like to meet you.
        Your goal will be to build efficient programs and systems that serve user needs.
      </div>
    </div>
    <div class="para-con">
      <div class="topic">Responsibilities</div>
      <div class="point-para">
        Work with developers to design algorithms and flowcharts
      </div>
      <div class="point-para">
        Produce clean, efficient code based on specifications
      </div>
      <div class="point-para">
        Integrate software components and third-party programs
      </div>
      <div class="point-para">
        Verify and deploy programs and systems
      </div>
      <div class="point-para">
        Troubleshoot, debug and upgrade existing software
      </div>
      <div class="point-para">
        Gather and evaluate user feedback
      </div>
      <div class="point-para">
        Recommend and execute improvements
      </div>
      <div class="point-para">
        Create technical documentation for reference and reporting
      </div>
    </div>
    <div class="para-con">
      <div class="topic">
        Requirements and skills
      </div>
      <div class="point-para">
        Proven experience as a Software Developer,Software Engineer or similar role
      </div>
      <div class="point-para">
        Familiarity with Agile development methodologies
      </div>
      <div class="point-para">
        Experience with software design and development in a test-driven environment
      </div>
      <div class="point-para">
        Knowledge of coding languages (e.g. C++, Jave, JavaScript) and frameworks/systems(e.g. AngularJS,Git)
      </div>
      <div class="point-para">
        Experience with databases and Object-Relational Mapping (ORM)frameworks (e.g. Hibernate)
      </div>
      <div class="point-para">
        Ability to learn new languages and technologies
      </div>
      <div class="point-para">
        Excellent communication skills
      </div>
      <div class="point-para">
        Resourcefulness and troubleshooting aptitude Attention to detail
      </div>
      <div class="point-para">
        B.sc/BA in Computer Science, Engineering or a related field
      </div>
    </div>
  </div>
  <div class="down-con">
    <div class="down-center">
      <p class="com-name">Capgemini Technology Services India Limited,</p>
      <p class="com-name">OMR</p>
      <div class="com-details">
        Capgemini was founded by Serge Kampf in 1967[4] as an enterprise management and data processing company.
        The company was founded as the Société pour la Gestion de l'Entreprise et le Traitement de l'Information
        (Sogeti).[5]
      </div>
      <a class="web-tag" href="" style="text-decoration: none;">www.cape.com</a>
    </div>
  </div>
  <div class="similar-con">
    <div class="similar-center">
      <div class="similar-txt">Similar Jobs</div>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="11" viewBox="0 0 20 11" fill="none">
        <path d="M7.8725 9.71667L3.445 5.5L7.8725 1.28333L6.525 0L0.75 5.5L6.525 11L7.8725 9.71667ZM12.8775 9.71667L17.305 5.5L12.8775 1.28333L14.225 0L20 5.5L14.225 11L12.8775 9.71667Z" fill="#505050"/>
      </svg>
    </div>
    <div class="box-con-center">
      <div class="box-con">
        <p class="c-name">Capgemnini Technology Services India Limited ,OMR</p>
        <div class="dev-detail">
          Front End Web Developer
        </div>
        <div class="salary-detail">$7L - $20L</div>
      </div>
      <div class="box-con">
        <div class="c-name">Capgemnini Technology
          Services India Limited
          , OMR</div>
        <div class="dev-detail">
          Front End Web Developer
        </div>
        <div class="salary-detail">$7L - $20L</div>
      </div>
      <div class="box-con">
        <div class="c-name">Capgemnini Technology
          Services India Limited
          , OMR</div>
        <div class="dev-detail">
          Front End Web Developer
        </div>
        <div class="salary-detail">$7L - $20L</div>
      </div>
      <div class="box-con">
        <div class="c-name">Capgemnini Technology
          Services India Limited
          , OMR</div>
        <div class="dev-detail">
          Front End Web Developer
        </div>
        <div class="salary-detail">$7L - $20L</div>
      </div>
      <div class="box-con">
        <div class="c-name">Capgemnini Technology
          Services India Limited
          , OMR</div>
        <div class="dev-detail">
          Front End Web Developer
        </div>
        <div class="salary-detail">$7L - $20L</div>
      </div>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
