<div class="body-container">
  <div class="body-center">
    <app-we-back-button></app-we-back-button>
    <div class="company-feed-con">
      <div class="logo-con">
        <div class="logo"></div>
      </div>
      <div>
        <p class="name-text"> {{ job_data.job_title }} </p>
        <p class="dev-content"> {{ job_data.min_salary + ' - ' + job_data.max_salary+ ' '+ job_data.salary_period }} </p>
      </div>
    </div>
    <div class="apply-btn-con">
      <input class="apply-button" type="button" value="Apply" (click)="applyJob()">
    </div>
    <div class="para-con">
      <div class="topic">Job brief</div>
      <div class="para">
        {{ job_data.job_description }}
      </div>
    </div>
    <div class="para-con">
      <div class="topic">Responsibilities</div>
      <div class="point-para">
        <ul>
          <li *ngFor="let responsibility of job_data.responsibilities.split('\n')">
            {{ responsibility }}
          </li>
        </ul>
      </div>
    </div>
    <div class="para-con">
      <div class="topic">
        Requirements and skills
      </div>
      <div class="point-para">
       <ul>
        <li *ngFor="let skills of job_data.skills.split('\n')">
          {{ skills }}
        </li>
       </ul>
      </div>
    </div>
  </div>
  <div class="down-con">
    <div class="down-center">
      <p class="com-name">Capgemini Technology Services India Limited,</p>
      <p class="com-name">OMR</p>
      <div class="com-details">
        Capgemini was founded by Serge Kampf in 1967[4] as an enterprise management and data processing company.
        The company was founded as the Société pour la Gestion de l'Entreprise et le Traitement de l'Information
        (Sogeti).[5]
      </div>
      <a class="web-tag" style="text-decoration: none;">www.cape.com</a>
    </div>
  </div>
  <div class="similar-con">
    <div class="similar-center">
      <div class="similar-txt">Similar Jobs</div>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="11" viewBox="0 0 20 11" fill="none">
        <path d="M7.8725 9.71667L3.445 5.5L7.8725 1.28333L6.525 0L0.75 5.5L6.525 11L7.8725 9.71667ZM12.8775 9.71667L17.305 5.5L12.8775 1.28333L14.225 0L20 5.5L14.225 11L12.8775 9.71667Z" fill="#505050"/>
      </svg>
    </div>
    <div class="box-container">
      <div class="box-con-center">
        <a href="/job-description" class="box-con">
          <p class="sub-text">Capgemnini Technology Services India Limited, OMR</p>
          <div class="sub-text">
            Front End Web Developer
          </div>
          <div class="sub-text">$7L - $20L</div>
        </a>
        <a href="/job-description" class="box-con">
          <div class="sub-text">Capgemnini Technology
            Services India Limited, OMR</div>
          <div class="sub-text">
            Front End Web Developer
          </div>
          <div class="sub-text">$7L - $20L</div>
        </a>
        <a href="/job-description" class="box-con">
          <div class="sub-text">Capgemnini Technology
            Services India Limited, OMR</div>
          <div class="sub-text">
            Front End Web Developer
          </div>
          <div class="sub-text">$7L - $20L</div>
        </a>
        <a href="/job-description" class="box-con">
          <div class="sub-text">Capgemnini Technology
            Services India Limited, OMR</div>
          <div class="sub-text">
            Front End Web Developer
          </div>
          <div class="sub-text">$7L - $20L</div>
        </a>
        <a href="/job-description" class="box-con">
          <div class="sub-text">Capgemnini Technology
            Services India Limited, OMR</div>
          <div class="sub-text">
            Front End Web Developer
          </div>
          <div class="sub-text">$7L - $20L</div>
        </a>
      </div>
    </div>
  </div>
</div>
<app-upload-resume #dialog></app-upload-resume>