.body-container{
  width:100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.company-feed-con{
  width:100%;
  display: flex;
  gap: 0.5rem;
  margin-top: 20px;
}
.logo-con{
  width:30px;
  height: 30px;
  border-radius: 50%;
}
.logo{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/capgemini logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}
.name-text{
  font-size: var(--subtext);
  font-weight: 500;
  color: #000;
}
.dev-content{
  font-size: var(--subtext);
  font-weight: 400;
  margin-top:5px;
}
.apply-btn-con{
  margin-top: 20px;
  margin-left:40px;
}
.apply-button{
  padding: 8px 17px;
  background-color: var(--bgbutton);
  border: none;
  border-radius: 40px;
  font-size: var(--subtext);
  font-weight: 700;
  color: var(--we);
  cursor: pointer;
}
.para-con{
  width:82%;
  margin-top: 30px;
}
.topic{
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 15px;
  color: #000;
}
.para{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.point-para{
  display: list-item;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-left:15px;
}
.down-con{
  width:100%;
  background-color: #EEE;
  margin-top:25px;
  padding: 25px 0;
}
.down-center{
  width: 90%;
  margin: 0 auto;
}
.com-name{
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.com-details{
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.web-tag{
  font-size: 14px;
  font-weight: 400;
  color: black;
  display: block;
  margin-top: 25px;
}
.similar-con{
  width:100%;
  margin-top:20px;
  margin-bottom: 2rem;
}
.similar-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.similar-txt{
  font-size: 15px;
  font-weight: 500;
  width:65%;
  display: inline-block;
  color: #000;
}
.fa-sort{
  rotate: 90deg;
  font-size: 20px;
}
.box-con-center{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 20px;
  scrollbar-width: none;
  padding: 0 10px;
  height: 130px;
}
.box-con-center::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
}
.box-con{
  width: 250px;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 6px 24px;
  flex-shrink: 0;
  padding: 10px;
}
.sub-text{
  font-size: var(--smalltext);
  margin-top: 5px;
}
.sub-text:nth-child(1){
  margin-top: 0;
}
@media screen and (min-width: 640px) {

}
@media screen and (min-width: 1024px) {
  .body-center{
    width: 60%;
  }
  .down-center{
    width: 60%;
  }
  .similar-center{
    width: 60%;
  }
  .com-name{
    font-size: var(--ntext);
  }
  .para{
    line-height: var(--line2);
  }
  .box-container{
    width: 60%;
    margin: 0 auto;
  }
  .box-con{
    box-shadow: rgba(149, 157, 165, 0.4) 0px 2px 24px;
  }
}
