<div class="body-container">
  <div class="body-center">
    <div class="heading-con">
      <h1>Your photo get verified in 2 mints</h1>
    </div>
    <div class="progress-container">
      <div class="progress-bar">
        <p>your photo being verifying...</p>
      </div>
    </div>
    <div class="heading-con">
      <h1>Thanks for your patience </h1>
    </div>
    <div class="register-container">
      <p>Your registered mobile number</p>
      <span>+91 967 707 1933</span>
    </div>
    <div class="btn-con">
      <input class="login-btn" type="button" value="Login" (click)="this.router.navigate(['/login'])">
    </div>
  </div>
</div>
