.body-container{
  width:100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.title{
  font-size: var(--headingthree);
  color: #000;
  font-weight: 700;
  margin-top: 20px;
}
.heading-text{
  font-size: var(--headingthree);
  margin-top: 20px;
}
.sub-text{
  font-size: var(--subtext);
  font-weight: 400;
  margin-top: 5px;
}
.date{
  font-size: var(--subtext);
  font-weight: 400;
  margin-top: 5px;
}
.status-container{
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 10%;
}
input[type=radio]{
  display: none;
}
.radio-btn1{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-btn2{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-btn3{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-btn4{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-btn{
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
}
#radio-btn1:checked ~ .radio-btn1{
  background-color: var(--we);
}
#radio-btn2:checked ~ .radio-btn2{
  background-color: var(--we);
}
#radio-btn3:checked ~ .radio-btn3{
  background-color: var(--we);
}
#radio-btn4:checked ~ .radio-btn4{
  background-color: var(--we);
}
.radio-btn-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.status-con{
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.status p{
  font-size: 14px;
  font-weight: 400;
}
.status-line{
  width: 2px;
  height: 200px;
  background-color: var(--we);
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0;
  bottom: 0;
}
@media screen and (min-width: 640px) {
  .job-ap-center{
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .body-center{
    width: 50%;
  }
  .status-container{
    padding-left: 0;
  }
  .heading-text{
    font-size: var(--subtext);
  }
}
