<app-we-header></app-we-header>
<div class="job-ap-con">
  <div class="job-ap-center">
    <div class="title">
      Job Status
    </div>
    <div class="heading-text">
      Capgemnini Technology Services
      India Limited
    </div>
    <div class="sub-text">
      Front End Web Developer
    </div>
    <div class="status-container">
      <div class="radio-btn-container">
        <input type="radio" id="radio-btn1">
        <input type="radio" id="radio-btn2">
        <input type="radio" id="radio-btn3">
        <input type="radio" id="radio-btn4">
        <label class="radio-btn1" for="radio-btn1"><div class="small-btn"></div></label>
        <label class="radio-btn2" for="radio-btn2"><div class="small-btn"></div></label>
        <label class="radio-btn3" for="radio-btn3"><div class="small-btn"></div></label>
        <label class="radio-btn4" for="radio-btn4"><div class="small-btn"></div></label>
        <div class="status-line"></div>
      </div>
      <div class="status-con">
        <div class="status">
          <p>Application sent</p>
          <span class="date">1 June 2023</span>
        </div>
        <div class="status">
          <p>Viewed</p>
          <span class="date">3 June 2023</span>
        </div>
        <div class="status">
          <p>Resume Downloaded</p>
          <span class="date">3 June 2023</span>
        </div>
        <div class="status">
          <p>Contacted</p>
          <span class="date">5 June 2023</span>
        </div>
      </div>
    </div>
  </div>
</div>
