<app-we-top-profile></app-we-top-profile>
<div class="detail-con">
  <div class="detail-center">
    <div class="profile-pic-con">
      <div class="profile-pic"></div>
    </div>
    <div class="text-field-align">
      <app-we-textfield name="Name"></app-we-textfield>
    </div>
    <div class="text-field-align">
      <app-we-edit-textfield name="Email ID"></app-we-edit-textfield>
    </div>
    <div class="text-field-align">
      <app-we-edit-textfield name="Mobile No"></app-we-edit-textfield>
    </div>
    <div class="text-field-align">
      <app-we-edit-textfield name="Job title"></app-we-edit-textfield>
    </div>
    <app-we-textarea value="Skills"></app-we-textarea>
    <div class="text-field-align">
      <app-we-textfield name="Education"></app-we-textfield>
    </div>
    <app-we-resume></app-we-resume>
  </div>
</div>
<app-we-footer></app-we-footer>
