.detail-con{
  width:100%;
}
.detail-center{
  width:70%;
  margin-right: auto;
  margin-left: auto;
  margin-top:75px;
}
.profile-pic-con{
  width:70px;
  height: 70px;
  border-radius: 35px;
}
.profile-pic{
  height: 100%;
  width:100%;
  background-image:url("/assets/img/profile img.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.profile-details-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 15px;
}
.text-field-con{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn-con{
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .profile-pic-con{
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
  }
  .text-field-con{
    flex-direction: row;
  }
  .text-field-align{
    width: 49%;
  }
}
@media screen and (min-width: 900px){
  .detail-center{
    width:60%;
  }
}
