<div class="footer-full-container">
  <div class="footer-full-container-center">
    <div class="left-box">
      <a class="a-logo" href="">
        <div class="logo-container">
          <div class="logo"></div>
        </div>
      </a>
    </div>
    <div class="right-box">
      <div class="box-one">
        <div class="bold-txt">
          Quick Links
        </div>
        <div class="child-text-con">
          <a class="child-text-one" href="" style="text-decoration: none;">Home</a>
          <a class="child-text-one" href="" style="text-decoration: none;">Services</a>
          <a class="child-text-one" href="" style="text-decoration: none;">Training</a>
          <a class="child-text-one" href="" style="text-decoration: none;">About us</a>
          <a class="child-text-one" href="" style="text-decoration: none;">Contact us</a>
        </div>
      </div>
      <div class="box-two">
        <div class="bold-txt">
          Address
        </div>
        <div class="addrs-con">
          <div class="addrs-header">
            UUK Softwares,
          </div>
          <div class="address">
            No. 8, Rajan nagar, Vandalur-kelambakkam,
            Kelambakkam - 603 103, Tamil Nadu.
          </div>
        </div>
        <div class="contact-box">
          <div class="bold-txt">
            Contact Us
          </div>
          <div class="number">
            +91 76394 22328
          </div>
          <div class="mail">
            uuk.softwares@gmail.com
          </div>
        </div>
      </div>
    </div>
    <div class="follow-con">
      <div class="follow-txt">Follow us</div>
      <a class="follow-fb" href="">
        <svg xmlns="http://www.w3.org/2000/svg" class="follow-fb-icon" width="12" height="20" viewBox="0 0 12 20" fill="none">
          <path d="M10.9 1H8.19997C7.00649 1 5.86187 1.4741 5.01804 2.31802C4.17409 3.16193 3.69999 4.30652 3.69999 5.49998V8.19997H1V11.8H3.69999V18.9999H7.29998V11.8H9.99997L10.9 8.19997H7.29998V5.49998C7.29998 5.26129 7.39484 5.03237 7.56359 4.86359C7.73233 4.69481 7.96129 4.59999 8.19997 4.59999H10.9V1Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <a class="follow-in" href="">
        <svg xmlns="http://www.w3.org/2000/svg" class="follow-in-icon" width="24" height="20" viewBox="0 0 24 20" fill="none">
          <path d="M22.8554 1.01003C22.8554 1.01003 20.8435 2.19856 19.7248 2.53544C19.1243 1.84503 18.3263 1.35568 17.4387 1.13358C16.551 0.911485 15.6167 0.967347 14.7618 1.29363C13.907 1.6199 13.1729 2.20085 12.6591 2.95788C12.1451 3.71492 11.8761 4.61153 11.8884 5.52644V6.52345C10.1362 6.56887 8.40013 6.18029 6.83458 5.39229C5.26902 4.60429 3.92265 3.44135 2.91536 2.00703C2.91536 2.00703 -1.07265 10.9801 7.90036 14.9681C5.84707 16.3618 3.40106 17.0607 0.921356 16.9621C9.89437 21.9471 20.8614 16.9621 20.8614 5.49653C20.8605 5.21882 20.8338 4.94179 20.7816 4.66902C21.7992 3.66553 22.8554 1.01003 22.8554 1.01003Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</div>
