<app-we-header></app-we-header>
<div class="image-con">
  <div class="bg-img">
    <div class="bg-con">
      <div class="bg-txt-con">
        <div class="bg-txt">Millions of Opportunity. Millions of Jobs. </div>
        <div class="sl-con">
          <div class="search-con">
            <i class="fa fa-search"></i>
            <input type="search" class="search" placeholder="Search by designation, category...">
          </div>
          <div class="location-con">
            <i class="material-icons">place</i>
            <input type="search" class="location" placeholder="location">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-con">
  <div class="textx">
    Why
  </div>
  <div class="we-txt">
    we.
  </div>
  <div class="para-text-con">
    <div class="para-text">We're serving up trusted insights and anonymous conversation,
      so you'll have the goods you need to succeed.
    </div>
    <div class="arrow-con">
      <div class="arrow"></div>
    </div>
  </div>

</div>
<div class="middle-con">
  <div class="middle-txt">
    Get ahead with
  </div>
  <div class="middle-we">
    we.
  </div>
  <div class="pt-con">
    <div class="left-con">
      <i class="fa fa-comments-o"></i>
      <div class="text-a">
        Join your work Community
      </div>
    </div>
    <div class="left-con right-con">
      <i class="fa fa-briefcase"></i>
      <div class="text-f">Find and Apply to jobs</div>
    </div>
    <div class="left-con down-left">
      <i class="fa fa-building-o"></i>
      <div class="text-c">Search Company Reviews</div>
    </div>
    <div class="left-con down-right">
      <i class="fa fa-rupee"></i>
      <div class="text-s">Compare Salaries</div>
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
