.image-con{
  height: 450px;
  width:100%;
  margin-top: 57px;
}
.bg-img{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.bg-con{
  height: 300px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  bottom: 8%;
  left: 7%;
  right: 7%;
}
.bg-txt-con{
  width:88%;
  margin-left:auto;
  margin-right: auto;
  padding-top: 25px;
}
.bg-txt{
  font-size: 35px;
}
.sl-con{
  margin-top:5%;
}
.search{
  width: 100%;
  height: 35px;
  font-size: 13px;
  padding-left: 25px;
  font-weight: 300;
  color: #000;
  margin-top:10px;
}
.location{
  width: 100%;
  height: 35px;
  font-size: 13px;
  padding-left: 25px;
  font-weight: 300;
  color: #000;
  margin-top:10px;
}
.fa-search{
  position: absolute;
  padding-top: 21px;
  padding-left: 8px;
  font-size: 14px;
  color:#8e8b8b;
}
.material-icons{
  padding-top: 18px;
  position: absolute;
  font-size: 18px;
  padding-left: 5px;
  color: gray;
}
.middle-con{
  width:75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}
.textx p{
  font-size: 27px;
  font-weight: 400;
}
.para-text-con{
  width:100%;
}
.para-text{
  font-size: 14px;
  font-weight: 300;
  padding-top: 15px;
  display: inline-block;
  width: 75%;
}
.arrow-con{
  height: 55px;
  width:30px;
  display: inline-block;
  margin-top: 15px;
  float: right;
}
.arrow{
  height: 100%;
  width:100%;
  background-image: url("/assets/img/Arrow .png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.middle-txt p{
  font-size: 23px;
  font-weight: 300;
  display: inline-block;
}
.middle-we{
  font-size: 23px;
  font-weight: 700;
  display: inline-block;
}
.pt-con{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 30px;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45%;
}
.card p{
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
.middle-container{
  width: 70%;
  margin: 0 auto;
  padding-top: 10%;
}
@media screen and (min-width: 600px) {
  .image-con{
    height: 440px;
    margin-top: 58px;
  }
  .bg-img{
    background-image:url("/assets/img/bg tab.png") ;
  }
  .bg-con{
    height: 290px;
    width:90%;
    left:5%;
    right: 5%;
  }
  .bg-txt-con{
    width:65%;
  }
  .bg-txt{
    font-size:31px;
  }
  .fa-search{
    position: absolute;
    padding-top: 21px;
    padding-left: 8px;
    font-size: 14px;
    color:#8e8b8b;
  }
  .middle-con{
    padding-top: 5%;
  }
  .textx{
    font-size: 29px;
  }
  .we-txt{
    font-size: 45px;
  }
  .para-text{
    font-size: 16px;
  }
  .pt-con{
    flex-wrap: nowrap;
  }
  .card{
    width: 25%;
  }
  .card p{
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .bg-img{
    background-image: url("/assets/img/bg desktop.png");
  }
  .bg-con{
    height: 260px;
    width:80%;
    bottom: 18%;
    left: 10%;
    right: 10%;
  }
  .bg-txt-con{
    width:65%;
    padding-top: 75px;
  }
  .bg-txt{
  text-align: center;
  }
  .sl-con{
    display: inline-block;
    width: 100%;
    margin-top:1%;
  }
  .search-con{
    width:60%;
    display: inline-block;
  }
  .location-con{
    position:relative;
    width:40%;
    display: inline-block;
  }
  .search{
    width:100%;
  }
  .location{
    width:100%;
    margin-left: -3px;
  }
  .material-icons{
    position: absolute;
    padding-top: 18px;
    font-size: 18px;
  }
  .middle-con{
    padding-top: 4%;
    width:52%;
    position: relative;
  }
  .textx{
    font-size: 29px;
  }
  .para-text-con{

  }
  .para-text{
    font-size: 17px;
    padding-top: 0;
  }
  .arrow-con{
    margin-top: 0;
  }
  .pt-con{
    justify-content: space-around;
  }
  .middle-txt{
    text-align: center;
  }
  .card{
    width: 16%;
  }
  .card p{
    font-size: 14px;
  }
}

