/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxygen,sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #505050;
  letter-spacing: 0.10px;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x:hidden;
}
:root{
  --subtext : 14px;
  --subheading: 15px;
  --headingone : 35px;
  --headingtwo : 22px;
  /*this is heading four its changed for work purpose*/
  --headingthree : 15px;
  /*this is heading three its changed for work purpose*/
  --headingfour : 18px;
  --headingcolor : #000;
  --inputtext : 16px;
  --tabletext : 12px;
  --smalltext : 13px;
  --ntext: 14px;
  --lspace1 : 0.10px;
  --lspace2 : 0.5px;
  --we: #FF1F00;
  --white : #fff;
  --bgbutton : #FFE8E5;
  --darkgray: #505050;
  --lightgray: #ebebeb;
}
@media screen and (min-width: 1024px)  {
 :root{
   --subtext : 14px;
   --inputtext: 15px;
   --headingone: 32px;
   --headingtwo : 24px;
   --headingthree: 18px;
   --subheading : 15px;
   --line1 : 20px;
   --line2 : 18px;
 }
}
