<app-we-header></app-we-header>
<div class="emp-pe-ds-con">
  <div class="emp-pe-ds-center">
    <div class="center-align">
      <div class="dropdown-total-con">
        <div class="drop-down-icon">
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="emp-pe-ds-dropdown-con">
          <div class="emp-pe-ds-dropdown">
            <div class="emp-icon-center">
              <i class="fa fa-building-o"></i>
            </div>
            <a class="emp-atag" href="" style="text-decoration: none;">Employer</a>
            <div class="dropdown-content">
              <div class="option-con">
                <i class="fa fa-briefcase"></i>
                <a class="emp-atag" href="" style="text-decoration: none;">Job</a>
              </div>
              <div class="option-con">
                <i class="material-icons">group</i>
                <a class="emp-atag" href="" style="text-decoration: none;">Candidate</a>
              </div>
              <div class="option-con">
                <i class="material-icons">poll</i>
                <a class="emp-atag" href="" style="text-decoration: none;">Analytics</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="emp-dp-pic-con">
        <div class="emp-dp-pic"></div>
      </div>
    </div>
    <div class="emp-cy-name">
      UUK Softwares
    </div>
    <form [formGroup]="profileForm">
      <div class="profile-details-container">
        <div class="text-field-con">
          <div class="text-fd-align">
            <app-we-textfield name="Company Name" placeholder_value="UUK Softwares"></app-we-textfield>
          </div>
          <div class="text-fd-align">
            <app-we-textfield name="GST or Pan Number" placeholder_value="TXU35678168"></app-we-textfield>
          </div>
        </div>
        <div class="text-field-con">
          <div class="text-fd-align">
            <app-we-dropdown value="Industry Type"></app-we-dropdown>
          </div>
          <div class="text-fd-align">
            <app-we-textfield name="ISO Register" placeholder_value="Yes"></app-we-textfield>
          </div>
        </div>
        <div class="text-field-con">
          <div class="text-fd-align">
            <app-we-textfield name="ISO Registered Number" placeholder_value="ISO2009:156"></app-we-textfield>
          </div>
          <div class="text-fd-align">
            <app-we-edit-dropdown value="No of Employees"></app-we-edit-dropdown>
          </div>
        </div>
        <div class="text-field-con">
          <div class="text-fd-align">
            <app-we-dropdown value="Company Native"></app-we-dropdown>
          </div>
          <div class="text-fd-align">
            <app-we-edit-textfield name="Company Locations" [control]="profileForm.get('company_locations')" placeholder_value="chennai,mumbai,banglore"></app-we-edit-textfield>
          </div>
        </div>
        <div class="text-field-con">
          <div class="text-fd-align">
            <app-we-textfield name="Email ID" placeholder_value="uuksoftwares@gmail.com"></app-we-textfield>
          </div>
          <div class="text-fd-align">
            <app-we-edit-textfield name="Telephone No" placeholder_value="+91 769 394 4587" [control]="profileForm.get('telephone_no')"></app-we-edit-textfield>
          </div>
        </div>
        <div class="text-fd-align">
          <app-we-textarea value="Registered Address" placeholder_value="No.8, Rajan Nagar, Kelambakkam, Chennai 603103"></app-we-textarea>
        </div>
        <div class="text-fd-align">
          <app-we-edit-textarea value="Unit Address" [control]="profileForm.get('unit_address')" placeholder_value="No.8, Rajan Nagar, Kelambakkam, Chennai 603103"></app-we-edit-textarea>
        </div>
        <app-we-big-textarea value="Company Breif" [control]="profileForm.get('company_breif')" placeholder_value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod erat a tellus maximus, vel auctor arcu mattis. Pellentesque mi erat, hendrerit vel sodales in, eleifend vitae quam. Vivamus at convallis urna. Aliquam porttitor, urna non pharetra sodales, nisl ligula rhoncus tortor, quis eleifend sem augue eu diam. Curabitur nec pellentesque nisl. Suspendisse eu sem vulputate, finibus sapien vel, posuere nunc."></app-we-big-textarea>
        <app-we-big-textarea value="Awards & Achievements" [control]="profileForm.get('awards_achievements')" placeholder_value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod erat a tellus maximus, vel auctor arcu mattis. Pellentesque mi erat, hendrerit vel sodales in, eleifend vitae quam. Vivamus at convallis urna. Aliquam porttitor, urna non pharetra sodales, nisl ligula rhoncus tortor, quis eleifend sem augue eu diam. Curabitur nec pellentesque nisl. Suspendisse eu sem vulputate, finibus sapien vel, posuere nunc."></app-we-big-textarea>
      </div>
      <div class="btn-con">
        <app-we-button value="Submit" (click)="doSubmit()"></app-we-button>
      </div>
    </form>

  </div>
</div>
<app-we-footer></app-we-footer>
