.body-container{
  width: 100%;
  padding-top: 55px;
}
.body-center{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.profile-img-con{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 0 auto;
}
.profile-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.profile-name{
  margin-top: 12px;
  text-align: center;
}
.profile-name p{
  font-size: var(--headingtwo);
  color: var(--headingcolor);
}
.btn-con{
  margin-top: 12px;
  text-align: center;
}
.edit-btn{
  font-size: var(--subtext);
  font-weight: 700;
  color: #fff;
  background-color: var(--headingcolor);
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
}
.profile-details-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
.input-center{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-field-con{
  width: 100%;
}
.text-field{
  width: 100%;
}
.save-btn-con{
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.save-btn{
  font-size: var(--subtext);
  color: #fff;
  background-color: var(--headingcolor);
  padding: 8px 17px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .body-center{
    width: 50%;
    margin-top: 28px;
  }
  .text-field-con{
    width: 49%;
  }
  .input-center{
    flex-direction: row;
  }
}
