.body-container{
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-center{
  width: 90%;
  margin: 0 auto;
}
.job-created-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.job-icon{
  height: 60px;
  width: 60px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-con h1{
  font-size: var(--headingtwo);
  color: var(--headingcolor);
  font-weight: 400;
}
.view-job-btn{
  font-size: var(--subtext);
  background-color: var(--bgbutton);
  font-weight: 700;
  color: var(--we);
  padding: 8px 17px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
