<app-we-header></app-we-header>
<div class="emp-job-cd-con">
  <div class="emp-job-cd-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="33" viewBox="0 0 43 33" fill="none">
      <path d="M13.5333 25.6167L3.38333 15.4667L0 18.85L13.5333 32.3833L42.5333 3.38333L39.15 0L13.5333 25.6167Z" fill="#4CB528"/>
    </svg>
    <div class="success-msg">Job Created Successfully</div>
    <div class="job-role">Senior Graphic Designer</div>
    <div class="button-align">
      <input class="submit-btn" type="button" value="View you Job">
    </div>
  </div>
</div>
<app-we-footer></app-we-footer>
